Repository tidal-music/tidal-sdk-web, changes with the owners that .github/CODEOWNERS names for each.
All owners: @tidal-music/tidal-web-platform, @MathiasTim, @enjikaka

.github/CODEOWNERS:

*.sh @tidal-music/tidal-web-platform
*.md @tidal-music/tidal-web-platform
*.json @tidal-music/tidal-web-platform

/packages/ @tidal-music/tidal-web-platform
/packages/auth/ @MathiasTim
/packages/event-producer @tidal-music/tidal-web-platform
/packages/player @enjikaka

Pin pnpm to v11 (#741)
  package.json
Owners: @tidal-music/tidal-web-platform

Release API package 0.45.1
  packages/api/CHANGELOG.md
  packages/api/package.json
Owners: @tidal-music/tidal-web-platform

Release API package 0.45.1 (#742)
  packages/api/CHANGELOG.md
  packages/api/package.json
Owners: @tidal-music/tidal-web-platform

Update Tidal API to v1.10.130 - 2 files changed
  packages/api/CHANGELOG.md
  packages/api/bin/tidal-api-oas.json
  packages/api/package.json
  packages/api/src/allAPI.generated.ts
Owners: @tidal-music/tidal-web-platform

Expose artist follower count in API 0.46.0
  packages/api/CHANGELOG.md
  packages/api/bin/tidal-api-oas.json
  packages/api/package.json
  packages/api/src/allAPI.generated.ts
Owners: @tidal-music/tidal-web-platform

Expose artist follower count in API 0.46.0 (#744)
  packages/api/CHANGELOG.md
  packages/api/bin/tidal-api-oas.json
  packages/api/package.json
  packages/api/src/allAPI.generated.ts
Owners: @tidal-music/tidal-web-platform

Update Tidal API to v1.10.133 - 2 files changed
  packages/api/CHANGELOG.md
  packages/api/bin/tidal-api-oas.json
  packages/api/package.json
  packages/api/src/allAPI.generated.ts
Owners: @tidal-music/tidal-web-platform

event-producer: add flush(), make submitEvents single-flight
  packages/event-producer/CHANGELOG.md
  packages/event-producer/README.md
  packages/event-producer/package.json
  packages/event-producer/src/index.test.ts
  packages/event-producer/src/index.ts
  packages/event-producer/src/queue/queue.test.ts
  packages/event-producer/src/queue/queue.ts
  packages/event-producer/src/scheduler/scheduler.test.ts
  packages/event-producer/src/submit/submit.test.ts
  packages/event-producer/src/submit/submit.ts
  packages/event-producer/test/demo/demo.ts
Owners: @tidal-music/tidal-web-platform

event-producer: address review comments on flush()
  packages/event-producer/CHANGELOG.md
  packages/event-producer/README.md
  packages/event-producer/src/index.test.ts
  packages/event-producer/src/index.ts
  packages/event-producer/src/queue/queue.test.ts
  packages/event-producer/src/queue/queue.ts
  packages/event-producer/src/queue/worker.ts
  packages/event-producer/src/submit/submit.test.ts
  packages/event-producer/src/submit/submit.ts
Owners: @tidal-music/tidal-web-platform

event-producer: sort switch cases (lint)
  packages/event-producer/src/queue/queue.ts
Owners: @tidal-music/tidal-web-platform

event-producer: single-flight initDB, stop resubmit loop on no progress
  packages/event-producer/CHANGELOG.md
  packages/event-producer/src/queue/queue.test.ts
  packages/event-producer/src/queue/queue.ts
  packages/event-producer/src/submit/submit.test.ts
  packages/event-producer/src/submit/submit.ts
Owners: @tidal-music/tidal-web-platform

event-producer: add flush(), make submitEvents single-flight (#746)
  packages/event-producer/CHANGELOG.md
  packages/event-producer/README.md
  packages/event-producer/package.json
  packages/event-producer/src/index.test.ts
  packages/event-producer/src/index.ts
  packages/event-producer/src/queue/queue.test.ts
  packages/event-producer/src/queue/queue.ts
  packages/event-producer/src/queue/worker.ts
  packages/event-producer/src/scheduler/scheduler.test.ts
  packages/event-producer/src/submit/submit.test.ts
  packages/event-producer/src/submit/submit.ts
  packages/event-producer/test/demo/demo.ts
Owners: @tidal-music/tidal-web-platform

Update Tidal API to v1.10.134 - 2 files changed
  packages/api/CHANGELOG.md
  packages/api/bin/tidal-api-oas.json
  packages/api/package.json
  packages/api/src/allAPI.generated.ts
Owners: @tidal-music/tidal-web-platform

Update Tidal API to v1.10.135 - 2 files changed
  packages/api/CHANGELOG.md
  packages/api/bin/tidal-api-oas.json
  packages/api/src/allAPI.generated.ts
Owners: @tidal-music/tidal-web-platform

Update Tidal API to v1.10.138 - 2 files changed
  packages/api/CHANGELOG.md
  packages/api/bin/tidal-api-oas.json
  packages/api/src/allAPI.generated.ts
Owners: @tidal-music/tidal-web-platform

Update Tidal API to v1.10.142 - 2 files changed
  packages/api/CHANGELOG.md
  packages/api/bin/tidal-api-oas.json
  packages/api/src/allAPI.generated.ts
Owners: @tidal-music/tidal-web-platform

event-producer: flush({ discardUnsent }) to leave nothing behind on user switch
  packages/event-producer/CHANGELOG.md
  packages/event-producer/README.md
  packages/event-producer/package.json
  packages/event-producer/src/index.test.ts
  packages/event-producer/src/index.ts
  packages/event-producer/src/queue/queue.test.ts
  packages/event-producer/src/queue/queue.ts
  packages/event-producer/src/queue/worker.ts
  packages/event-producer/test/demo/demo.ts
Owners: @tidal-music/tidal-web-platform

event-producer: tighten discardUnsent guidance (untrusted devices, when not to use)
  packages/event-producer/CHANGELOG.md
  packages/event-producer/README.md
  packages/event-producer/src/index.ts
Owners: @tidal-music/tidal-web-platform

event-producer: narrow discardUnsent guidance to untrusted devices, drop demo button
  packages/event-producer/CHANGELOG.md
  packages/event-producer/README.md
  packages/event-producer/src/index.ts
  packages/event-producer/test/demo/demo.ts
Owners: @tidal-music/tidal-web-platform

event-producer: flush({ discardUnsent }) to leave nothing behind on user switch (#753)
  packages/event-producer/CHANGELOG.md
  packages/event-producer/README.md
  packages/event-producer/package.json
  packages/event-producer/src/index.test.ts
  packages/event-producer/src/index.ts
  packages/event-producer/src/queue/queue.test.ts
  packages/event-producer/src/queue/queue.ts
  packages/event-producer/src/queue/worker.ts
Owners: @tidal-music/tidal-web-platform

Wait for the Cypress dev server with curl so the mkcert certificate is accepted.
  .github/workflows/cypress.yml
Owners: none

Update Tidal API to v1.10.145 - 2 files changed
  packages/api/CHANGELOG.md
  packages/api/bin/tidal-api-oas.json
  packages/api/package.json
  packages/api/src/allAPI.generated.ts
Owners: @tidal-music/tidal-web-platform

Update API definitions to 1.10.146
  packages/api/CHANGELOG.md
  packages/api/bin/tidal-api-oas.json
  packages/api/src/allAPI.generated.ts
Owners: @tidal-music/tidal-web-platform

Update Tidal API to v1.10.148 - 2 files changed
  packages/api/CHANGELOG.md
  packages/api/bin/tidal-api-oas.json
  packages/api/package.json
  packages/api/src/allAPI.generated.ts
Owners: @tidal-music/tidal-web-platform

Update Tidal API to v1.10.149 - 2 files changed
  packages/api/CHANGELOG.md
  packages/api/bin/tidal-api-oas.json
  packages/api/src/allAPI.generated.ts
Owners: @tidal-music/tidal-web-platform

Update Tidal API to v1.10.150 - 2 files changed
  packages/api/CHANGELOG.md
  packages/api/bin/tidal-api-oas.json
  packages/api/package.json
  packages/api/src/allAPI.generated.ts
Owners: @tidal-music/tidal-web-platform

Update Tidal API to v1.10.154 - 2 files changed
  packages/api/CHANGELOG.md
  packages/api/bin/tidal-api-oas.json
  packages/api/src/allAPI.generated.ts
Owners: @tidal-music/tidal-web-platform

Update Tidal API to v1.10.155 - 2 files changed
  packages/api/CHANGELOG.md
  packages/api/bin/tidal-api-oas.json
  packages/api/src/allAPI.generated.ts
Owners: @tidal-music/tidal-web-platform

Update Tidal API to v1.10.156 - 2 files changed
  packages/api/CHANGELOG.md
  packages/api/bin/tidal-api-oas.json
  packages/api/src/allAPI.generated.ts
Owners: @tidal-music/tidal-web-platform

Update Tidal API to v1.10.157 - 2 files changed
  packages/api/CHANGELOG.md
  packages/api/bin/tidal-api-oas.json
  packages/api/package.json
  packages/api/src/allAPI.generated.ts
Owners: @tidal-music/tidal-web-platform

feat(auth): support app approval in initializeDeviceLogin
  packages/auth/README.md
  packages/auth/src/auth/auth.test.ts
  packages/auth/src/auth/auth.ts
  packages/auth/src/fixtures.ts
  packages/auth/src/types.ts
Owners: @MathiasTim

fix(auth): keep verification URIs required for app approval
  packages/auth/README.md
  packages/auth/src/auth/auth.ts
  packages/auth/src/fixtures.ts
  packages/auth/src/types.ts
Owners: @MathiasTim

feat(auth): support app approval in initializeDeviceLogin (#761)
  packages/auth/README.md
  packages/auth/src/auth/auth.test.ts
  packages/auth/src/auth/auth.ts
  packages/auth/src/fixtures.ts
Owners: @MathiasTim

chore(release): auth 1.7.0
  packages/auth/CHANGELOG.md
  packages/auth/package.json
Owners: @MathiasTim

chore(release): auth 1.7.0 (#762)
  packages/auth/CHANGELOG.md
  packages/auth/package.json
Owners: @MathiasTim

Update Tidal API to v1.10.162 - 2 files changed
  packages/api/CHANGELOG.md
  packages/api/bin/tidal-api-oas.json
  packages/api/src/allAPI.generated.ts
Owners: @tidal-music/tidal-web-platform
