Repository tidal-music/tidal-sdk-web, changes with the owners that .github/CODEOWNERS names for each.
All owners: @tidal-music/tidal-web-platform, @MathiasTim, @enjikaka

.github/CODEOWNERS:

*.sh @tidal-music/tidal-web-platform
*.md @tidal-music/tidal-web-platform
*.json @tidal-music/tidal-web-platform

/packages/ @tidal-music/tidal-web-platform
/packages/auth/ @MathiasTim
/packages/event-producer @tidal-music/tidal-web-platform
/packages/player @enjikaka

Update Tidal API to v1.10.69 - 2 files changed
  packages/api/CHANGELOG.md
  packages/api/bin/tidal-api-oas.json
  packages/api/package.json
  packages/api/src/allAPI.generated.ts
Owners: @tidal-music/tidal-web-platform

fix(player): stop leaking 'ended' events on native gapless transitions
  packages/player/src/player/basePlayer.ts
  packages/player/src/player/nativePlayer.ts
Owners: @enjikaka

Update Tidal API to v1.10.70 - 2 files changed
  packages/api/CHANGELOG.md
  packages/api/bin/tidal-api-oas.json
  packages/api/package.json
  packages/api/src/allAPI.generated.ts
Owners: @tidal-music/tidal-web-platform

test(player): cover native gapless 'ended' suppression and preload race
  packages/player/src/player/nativePlayer.test.ts
Owners: @enjikaka

fix(player): stop leaking 'ended' events on native gapless transitions (#686)
  packages/player/src/player/basePlayer.ts
  packages/player/src/player/nativePlayer.test.ts
  packages/player/src/player/nativePlayer.ts
Owners: @enjikaka

chore(player): release 0.18.4
  packages/player/CHANGELOG.md
  packages/player/package.json
Owners: @enjikaka

fix types export
  packages/api/src/index.ts
Owners: @tidal-music/tidal-web-platform

chore(player): release 0.18.4 (#689)
  packages/player/CHANGELOG.md
  packages/player/package.json
Owners: @enjikaka

Apply suggestion from @osmestad
  packages/api/src/index.ts
Owners: @tidal-music/tidal-web-platform

fix types export (#677)
  packages/api/src/index.ts
Owners: @tidal-music/tidal-web-platform

Update Tidal API to v1.10.73 - 2 files changed
  packages/api/CHANGELOG.md
  packages/api/bin/tidal-api-oas.json
  packages/api/package.json
  packages/api/src/allAPI.generated.ts
Owners: @tidal-music/tidal-web-platform

Update Tidal API to v1.10.74 - 2 files changed
  packages/api/CHANGELOG.md
  packages/api/bin/tidal-api-oas.json
  packages/api/src/allAPI.generated.ts
Owners: @tidal-music/tidal-web-platform

Update Tidal API to v1.10.77 - 2 files changed
  packages/api/CHANGELOG.md
  packages/api/bin/tidal-api-oas.json
  packages/api/src/allAPI.generated.ts
Owners: @tidal-music/tidal-web-platform

Update Tidal API to v1.10.79 - 2 files changed
  packages/api/CHANGELOG.md
  packages/api/bin/tidal-api-oas.json
  packages/api/package.json
  packages/api/src/allAPI.generated.ts
Owners: @tidal-music/tidal-web-platform

Update Tidal API to v1.10.80 - 1 files changed
  packages/api/CHANGELOG.md
  packages/api/bin/tidal-api-oas.json
  packages/api/package.json
Owners: @tidal-music/tidal-web-platform

fix(api): preserve UTF-8 when buffering responses
  packages/api/CHANGELOG.md
  packages/api/package.json
  packages/api/src/retry.test.ts
  packages/api/src/retry.ts
Owners: @tidal-music/tidal-web-platform

fix(api): preserve UTF-8 when buffering responses (#694)
  packages/api/CHANGELOG.md
  packages/api/package.json
  packages/api/src/retry.test.ts
  packages/api/src/retry.ts
Owners: @tidal-music/tidal-web-platform

Update Tidal API to v1.10.86 - 2 files changed
  packages/api/CHANGELOG.md
  packages/api/bin/tidal-api-oas.json
  packages/api/src/allAPI.generated.ts
Owners: @tidal-music/tidal-web-platform

Update Tidal API to v1.10.88 - 2 files changed
  packages/api/CHANGELOG.md
  packages/api/bin/tidal-api-oas.json
  packages/api/src/allAPI.generated.ts
Owners: @tidal-music/tidal-web-platform

Update Tidal API to v1.10.89 - 2 files changed
  packages/api/CHANGELOG.md
  packages/api/bin/tidal-api-oas.json
  packages/api/src/allAPI.generated.ts
Owners: @tidal-music/tidal-web-platform

Update Tidal API to v1.10.91 - 2 files changed
  packages/api/CHANGELOG.md
  packages/api/bin/tidal-api-oas.json
  packages/api/src/allAPI.generated.ts
Owners: @tidal-music/tidal-web-platform

Update Tidal API to v1.10.92 - 2 files changed
  packages/api/CHANGELOG.md
  packages/api/bin/tidal-api-oas.json
  packages/api/src/allAPI.generated.ts
Owners: @tidal-music/tidal-web-platform

Only report playback start timestamps when playback actually started, fix playback_info_fetch error reporting
  packages/player/CHANGELOG.md
  packages/player/src/internal/event-tracking/streaming-metrics/playback-statistics.ts
  packages/player/src/internal/helpers/playback-info-resolver.test.ts
  packages/player/src/internal/helpers/playback-info-resolver.ts
  packages/player/src/player/basePlayer.ts
Owners: @enjikaka

Address review comments: scope test lookup to session, assert structured error code, add null-timestamp regression test
  packages/player/src/internal/event-tracking/streaming-metrics/playback-statistics.test.ts
  packages/player/src/internal/helpers/playback-info-resolver.test.ts
Owners: @enjikaka

Only report playback start timestamps when playback actually started; fix playback_info_fetch error reporting (#696)
  packages/player/CHANGELOG.md
  packages/player/src/internal/event-tracking/streaming-metrics/playback-statistics.test.ts
  packages/player/src/internal/event-tracking/streaming-metrics/playback-statistics.ts
  packages/player/src/internal/helpers/playback-info-resolver.test.ts
  packages/player/src/internal/helpers/playback-info-resolver.ts
  packages/player/src/player/basePlayer.ts
Owners: @enjikaka

Stamp crossfade/gapless incoming track at fade start, not fade end
  packages/player/CHANGELOG.md
  packages/player/src/player/shakaPlayer.ts
Owners: @enjikaka

Address review comments: sample actual start before notifying state listeners, add first-call-wins test
  packages/player/src/player/basePlayer.test.ts
  packages/player/src/player/basePlayer.ts
  packages/player/src/player/browserPlayer.ts
  packages/player/src/player/nativePlayer.ts
  packages/player/src/player/shakaPlayer.ts
Owners: @enjikaka

Strict actualStartTimestamp semantics and serialized event reducers
  packages/player/CHANGELOG.md
  packages/player/src/internal/helpers/reducer.test.ts
  packages/player/src/internal/helpers/reducer.ts
  packages/player/src/internal/helpers/streaming-session-store.ts
  packages/player/src/player/basePlayer.ts
  packages/player/src/player/browserPlayer.ts
  packages/player/src/player/nativePlayer.ts
  packages/player/src/player/shakaPlayer.ts
Owners: @enjikaka

Strict actualStartTimestamp semantics + serialized event reducers (#697)
  packages/player/CHANGELOG.md
  packages/player/src/internal/helpers/reducer.test.ts
  packages/player/src/internal/helpers/reducer.ts
  packages/player/src/internal/helpers/streaming-session-store.ts
  packages/player/src/player/basePlayer.test.ts
  packages/player/src/player/basePlayer.ts
  packages/player/src/player/browserPlayer.ts
  packages/player/src/player/nativePlayer.ts
  packages/player/src/player/shakaPlayer.ts
Owners: @enjikaka

fix(player): keep playback_session in the earliest event batch
  packages/player/CHANGELOG.md
  packages/player/cypress/e2e/play-log/case-crossfade.cy.ts
  packages/player/cypress/e2e/play-log/case-gapless.cy.ts
  packages/player/src/player/basePlayer.ts
Owners: @enjikaka

fix(player): keep playback_session in the earliest event batch (#699)
  packages/player/CHANGELOG.md
  packages/player/cypress/e2e/play-log/case-crossfade.cy.ts
  packages/player/cypress/e2e/play-log/case-gapless.cy.ts
  packages/player/src/player/basePlayer.ts
Owners: @enjikaka

Update Tidal API to v1.10.95 - 2 files changed
  packages/api/CHANGELOG.md
  packages/api/bin/tidal-api-oas.json
  packages/api/src/allAPI.generated.ts
Owners: @tidal-music/tidal-web-platform

chore(player): release 0.19.0
  packages/player/CHANGELOG.md
  packages/player/package.json
Owners: @enjikaka

chore(player): release 0.19.0 (#700)
  packages/player/CHANGELOG.md
  packages/player/package.json
Owners: @enjikaka

Update Tidal API to v1.10.97 - 2 files changed
  packages/api/CHANGELOG.md
  packages/api/bin/tidal-api-oas.json
  packages/api/package.json
  packages/api/src/allAPI.generated.ts
Owners: @tidal-music/tidal-web-platform

Update search example for query filter
  packages/api/examples/api.js
Owners: @tidal-music/tidal-web-platform

fix: adapt to vite-plugin-dts 5.0.3 output, keep shaka-player at 5.1.8
  packages/api/package.json
  packages/auth/package.json
  packages/common/package.json
  packages/event-producer/package.json
  packages/player-web-components/package.json
  packages/player/package.json
  packages/template/package.json
  packages/true-time/package.json
  pnpm-lock.yaml
Owners: @tidal-music/tidal-web-platform, @MathiasTim, @enjikaka

fix(player): guard maybeSwitchPlayerOnEnd when preloadPlayer is undefined
  packages/player/src/internal/handlers/set-next.ts
  packages/player/src/player/index.test.ts
  packages/player/src/player/index.ts
Owners: @enjikaka

fix(player): satisfy lint — prettier and complexity limits
  packages/player/src/internal/handlers/set-next.ts
  packages/player/src/player/index.ts
Owners: @enjikaka

Update Tidal API to v1.10.99 - 2 files changed
  packages/api/CHANGELOG.md
  packages/api/bin/tidal-api-oas.json
  packages/api/package.json
  packages/api/src/allAPI.generated.ts
Owners: @tidal-music/tidal-web-platform
