Repository tidal-music/tidal-sdk-web, changes with the owners that .github/CODEOWNERS names for each.
All owners: @tidal-music/tidal-web-platform, @MathiasTim, @enjikaka

.github/CODEOWNERS:

*.sh @tidal-music/tidal-web-platform
*.md @tidal-music/tidal-web-platform
*.json @tidal-music/tidal-web-platform

/packages/ @tidal-music/tidal-web-platform
/packages/auth/ @MathiasTim
/packages/event-producer @tidal-music/tidal-web-platform
/packages/player @enjikaka

Update vite confings for isolated declarations
  packages/auth/vite-legacy.config.ts
  packages/auth/vite.config.ts
  packages/common/vite.config.ts
  packages/player/src/internal/helpers/playback-info-resolver.ts
  packages/player/vite-legacy.config.ts
  packages/player/vite.config.ts
  packages/true-time/vite.config.ts
  pnpm-lock.yaml
Owners: @MathiasTim, @tidal-music/tidal-web-platform, @enjikaka

Prepare for Shaka v4.11
  packages/player/src/player/shakaPlayer.ts
Owners: @enjikaka

MF-315: Prevent the web from setting the device in state when setting the device fails in player.
  packages/player/src/player/nativePlayer.ts
Owners: @enjikaka

MF-315: Prevent the web from setting the device in state when setting the device fails in player. (#185)
  packages/player/src/player/nativePlayer.ts
Owners: @enjikaka

Bump version to create a release
  packages/player/CHANGELOG.md
  packages/player/package.json
Owners: @enjikaka

Bump version to create a release (#186)
  packages/player/CHANGELOG.md
  packages/player/package.json
Owners: @enjikaka

pnpm lock update
  pnpm-lock.yaml
Owners: none

Remove patch and update shaka to 4.11.1
  package.json
  packages/player/package.json
  patches/shaka-player@4.8.5.patch
  pnpm-lock.yaml
Owners: @tidal-music/tidal-web-platform, @enjikaka

Update patch
  package.json
  packages/player/src/player/shakaPlayer.ts
  patches/shaka-player@4.11.1.patch
  pnpm-lock.yaml
Owners: @tidal-music/tidal-web-platform, @enjikaka

Fix preloaad
  packages/player/src/player/browserPlayer.ts
  packages/player/src/player/shakaPlayer.ts
Owners: @enjikaka

Update shaka to 4.11.2
  package.json
  packages/player/package.json
  patches/shaka-player@4.11.2.patch
  pnpm-lock.yaml
Owners: @tidal-music/tidal-web-platform, @enjikaka

Fix setNext+load with new shaka preload API
  packages/player/src/internal/handlers/load.ts
  packages/player/src/internal/helpers/manifest-parser.ts
  packages/player/src/player/shakaPlayer.ts
Owners: @enjikaka

Fix implicit transition
  packages/player/src/player/shakaPlayer.ts
  pnpm-lock.yaml
Owners: @enjikaka

Throw error if preload fails
  packages/player/src/internal/handlers/set-next.test.ts
  packages/player/src/player/shakaPlayer.ts
Owners: @enjikaka

Fix preload+load case
  packages/player/src/internal/handlers/set-next.ts
  packages/player/src/internal/helpers/streaming-session-store.ts
  packages/player/src/player/basePlayer.ts
Owners: @enjikaka

Fallback to url if preload manager fails
  packages/player/src/player/shakaPlayer.ts
Owners: @enjikaka

Update web test runner
  packages/player/package.json
  pnpm-lock.yaml
Owners: @enjikaka

Log userId to debug tests.
  packages/player/src/test-helpers.ts
Owners: @enjikaka

Add push to workflow to try to make it work - I think checkout is cached
  .github/workflows/unit-test.yml
Owners: none

checkout with ref
  .github/workflows/unit-test.yml
Owners: none

Should not need sha, add back referenceId check...
  .github/workflows/unit-test.yml
  packages/player/src/internal/handlers/load.ts
Owners: @enjikaka

Initial Playlist API SDK Module
  packages/playlist/CHANGELOG.md
  packages/playlist/README.md
  packages/playlist/examples/example.js
  packages/playlist/index.html
  packages/playlist/package.json
  packages/playlist/src/index.ts
  packages/playlist/src/playlist.test.ts
  packages/playlist/src/playlist.ts
  packages/playlist/src/playlistAPI.d.ts
  packages/playlist/src/vite-env.d.ts
  packages/playlist/tsconfig.build.json
  packages/playlist/tsconfig.json
  packages/playlist/typedoc.json
  packages/playlist/vite.config.ts
  pnpm-lock.yaml
Owners: @tidal-music/tidal-web-platform

Initial User SDK Module
  packages/user/CHANGELOG.md
  packages/user/README.md
  packages/user/examples/example.js
  packages/user/index.html
  packages/user/package.json
  packages/user/src/index.ts
  packages/user/src/user.test.ts
  packages/user/src/user.ts
  packages/user/src/userAPI.d.ts
  packages/user/src/vite-env.d.ts
  packages/user/tsconfig.build.json
  packages/user/tsconfig.json
  packages/user/typedoc.json
  packages/user/vite.config.ts
  pnpm-lock.yaml
Owners: @tidal-music/tidal-web-platform

Fix comment copy/paste
  packages/playlist/src/playlist.ts
Owners: @tidal-music/tidal-web-platform

Exclude "dist" folder from typechecking
  packages/playlist/tsconfig.json
Owners: @tidal-music/tidal-web-platform

Exclude "dist" folder from typechecking
  packages/user/tsconfig.json
Owners: @tidal-music/tidal-web-platform

Nitpick, stray example character
  packages/playlist/index.html
Owners: @tidal-music/tidal-web-platform

Reran generator
  packages/playlist/src/playlistAPI.d.ts
Owners: @tidal-music/tidal-web-platform

Initial Playlist API SDK Module (#187)
  packages/playlist/CHANGELOG.md
  packages/playlist/README.md
  packages/playlist/examples/example.js
  packages/playlist/index.html
  packages/playlist/package.json
  packages/playlist/src/index.ts
  packages/playlist/src/playlist.test.ts
  packages/playlist/src/playlist.ts
  packages/playlist/src/playlistAPI.d.ts
  packages/playlist/src/vite-env.d.ts
  packages/playlist/tsconfig.build.json
  packages/playlist/tsconfig.json
  packages/playlist/typedoc.json
  packages/playlist/vite.config.ts
  pnpm-lock.yaml
Owners: @tidal-music/tidal-web-platform

Remove private flag so package can be published
  packages/playlist/package.json
Owners: @tidal-music/tidal-web-platform

Remove private flag so package can be published
  packages/user/package.json
Owners: @tidal-music/tidal-web-platform

Remove private flag so package can be published (#190)
  packages/playlist/package.json
Owners: @tidal-music/tidal-web-platform

Initial User SDK Module (#189)
  packages/user/CHANGELOG.md
  packages/user/README.md
  packages/user/examples/example.js
  packages/user/index.html
  packages/user/package.json
  packages/user/src/index.ts
  packages/user/src/user.test.ts
  packages/user/src/user.ts
  packages/user/src/userAPI.d.ts
  packages/user/src/vite-env.d.ts
  packages/user/tsconfig.build.json
  packages/user/tsconfig.json
  packages/user/typedoc.json
  packages/user/vite.config.ts
  pnpm-lock.yaml
Owners: @tidal-music/tidal-web-platform

New Catalogue module release
  packages/catalogue/CHANGELOG.md
  packages/catalogue/package.json
  packages/catalogue/src/catalogueAPI.d.ts
Owners: @tidal-music/tidal-web-platform

New Search module release
  packages/search/CHANGELOG.md
  packages/search/package.json
  packages/search/src/searchAPI.d.ts
Owners: @tidal-music/tidal-web-platform

Update Changelog release dates, and add to `template`
  packages/template/CHANGELOG.md
  packages/user/CHANGELOG.md
Owners: @tidal-music/tidal-web-platform

New Catalogue module release (#191)
  packages/catalogue/CHANGELOG.md
  packages/catalogue/package.json
  packages/catalogue/src/catalogueAPI.d.ts
Owners: @tidal-music/tidal-web-platform

New Search module release (#192)
  packages/search/CHANGELOG.md
  packages/search/package.json
  packages/search/src/searchAPI.d.ts
Owners: @tidal-music/tidal-web-platform

Update all dependencies except Shaka and Vitest
  package.json
  packages/auth/package.json
  packages/catalogue/package.json
  packages/common/package.json
  packages/event-producer/package.json
  packages/player-web-components/package.json
  packages/player/package.json
  packages/playlist/package.json
  packages/search/package.json
  packages/template/package.json
  packages/true-time/package.json
  packages/user/package.json
  pnpm-lock.yaml
Owners: @tidal-music/tidal-web-platform, @MathiasTim, @enjikaka

Document manual updating
  README.md
Owners: @tidal-music/tidal-web-platform
