Repository tidal-music/tidal-sdk-web, changes with the owners that .github/CODEOWNERS names for each.
All owners: @tidal-music/tidal-web-platform, @MathiasTim, @enjikaka

.github/CODEOWNERS:

*.sh @tidal-music/tidal-web-platform
*.md @tidal-music/tidal-web-platform
*.json @tidal-music/tidal-web-platform

/packages/ @tidal-music/tidal-web-platform
/packages/auth/ @MathiasTim
/packages/event-producer @tidal-music/tidal-web-platform
/packages/player @enjikaka

Updates for new version on `openapi-fetch`
  packages/catalogue/src/catalogue.ts
  packages/playlist/src/playlist.ts
  packages/search/src/search.ts
  packages/user/src/user.ts
Owners: @tidal-music/tidal-web-platform

Update all depencencies except Shaka and Vitest (#193)
  README.md
  package.json
  packages/auth/package.json
  packages/catalogue/package.json
  packages/catalogue/src/catalogue.ts
  packages/common/package.json
  packages/event-producer/package.json
  packages/player-web-components/package.json
  packages/player/package.json
  packages/playlist/package.json
  packages/playlist/src/playlist.ts
  packages/search/package.json
  packages/search/src/search.ts
  packages/template/package.json
  packages/true-time/package.json
  packages/user/package.json
  packages/user/src/user.ts
  pnpm-lock.yaml
Owners: @tidal-music/tidal-web-platform, @MathiasTim, @enjikaka

Releases with updated dependencies
  packages/catalogue/CHANGELOG.md
  packages/catalogue/package.json
  packages/playlist/CHANGELOG.md
  packages/playlist/package.json
  packages/search/CHANGELOG.md
  packages/search/package.json
  packages/user/CHANGELOG.md
  packages/user/package.json
Owners: @tidal-music/tidal-web-platform

Releases with updated dependencies (#194)
  packages/catalogue/CHANGELOG.md
  packages/catalogue/package.json
  packages/playlist/CHANGELOG.md
  packages/playlist/package.json
  packages/search/CHANGELOG.md
  packages/search/package.json
  packages/user/CHANGELOG.md
  packages/user/package.json
Owners: @tidal-music/tidal-web-platform

Use header for non-demo requests too
  packages/player/src/player/shakaPlayer.ts
Owners: @enjikaka

Can't have auth header on segments of all types... Adding back demo content check
  packages/player/src/player/shakaPlayer.ts
Owners: @enjikaka

Use auth header for non-demo requests too (#195)
  packages/player/src/player/shakaPlayer.ts
Owners: @enjikaka

Refactor to use Shaka Preload API (#184)
  package.json
  packages/player/package.json
  packages/player/src/internal/handlers/set-next.test.ts
  packages/player/src/internal/handlers/set-next.ts
  packages/player/src/internal/helpers/manifest-parser.ts
  packages/player/src/internal/helpers/streaming-session-store.ts
  packages/player/src/internal/helpers/wait-for-players.ts
  packages/player/src/player/audio-context-store.ts
  packages/player/src/player/basePlayer.ts
  packages/player/src/player/browserPlayer.ts
  packages/player/src/player/shakaPlayer.ts
  packages/player/src/test-helpers.ts
  patches/shaka-player@4.11.2.patch
  pnpm-lock.yaml
Owners: @tidal-music/tidal-web-platform, @enjikaka

Bump version and update changelog
  packages/player/CHANGELOG.md
  packages/player/package.json
Owners: @enjikaka

Bump version and update changelog (#196)
  packages/player/CHANGELOG.md
  packages/player/package.json
Owners: @enjikaka

Make TS types easier to consume
  packages/catalogue/CHANGELOG.md
  packages/catalogue/package.json
  packages/catalogue/src/catalogueAPI.ts
  packages/playlist/CHANGELOG.md
  packages/playlist/package.json
  packages/playlist/src/playlistAPI.ts
  packages/search/CHANGELOG.md
  packages/search/package.json
  packages/search/src/searchAPI.ts
  packages/user/CHANGELOG.md
  packages/user/package.json
  packages/user/src/userAPI.ts
Owners: @tidal-music/tidal-web-platform

Make TS types easier to consume (#197)
  packages/catalogue/CHANGELOG.md
  packages/catalogue/package.json
  packages/catalogue/src/catalogueAPI.ts
  packages/playlist/CHANGELOG.md
  packages/playlist/package.json
  packages/playlist/src/playlistAPI.ts
  packages/search/CHANGELOG.md
  packages/search/package.json
  packages/search/src/searchAPI.ts
  packages/user/CHANGELOG.md
  packages/user/package.json
  packages/user/src/userAPI.ts
Owners: @tidal-music/tidal-web-platform

Settings cleanup
  .vscode/settings.json
  package.json
  renovate.json
Owners: @tidal-music/tidal-web-platform

Settings cleanup (#198)
  .vscode/settings.json
  package.json
  renovate.json
Owners: @tidal-music/tidal-web-platform

Fix unstable reset states in native player by deriving state from session ids instead of setting a flag.
  packages/player/src/player/nativePlayer.ts
Owners: @enjikaka

Fix dep
  packages/common/package.json
  pnpm-lock.yaml
Owners: @tidal-music/tidal-web-platform

Update pnpm lock
  pnpm-lock.yaml
Owners: none

Remove progress types
  packages/player/src/internal/event-tracking/types.ts
Owners: @enjikaka

eslint
  packages/player/src/internal/helpers/playback-info-resolver.test.ts
Owners: @enjikaka

Rework native player reset state (#199)
  packages/player/src/player/nativePlayer.ts
Owners: @enjikaka

Bump player v
  packages/player/CHANGELOG.md
  packages/player/package.json
Owners: @enjikaka

Bump player v (#201)
  packages/player/CHANGELOG.md
  packages/player/package.json
Owners: @enjikaka

Sync latest types for API modules
  package.json
  packages/catalogue/src/catalogueAPI.ts
  packages/playlist/src/playlistAPI.ts
  packages/search/src/searchAPI.ts
  packages/user/src/userAPI.ts
Owners: @tidal-music/tidal-web-platform

Versions and change-logs
  packages/catalogue/CHANGELOG.md
  packages/catalogue/package.json
  packages/playlist/CHANGELOG.md
  packages/playlist/package.json
  packages/search/CHANGELOG.md
  packages/search/package.json
  packages/user/CHANGELOG.md
  packages/user/package.json
Owners: @tidal-music/tidal-web-platform

Sync latest types for API modules (#207)
  package.json
  packages/catalogue/CHANGELOG.md
  packages/catalogue/package.json
  packages/catalogue/src/catalogueAPI.ts
  packages/playlist/CHANGELOG.md
  packages/playlist/package.json
  packages/playlist/src/playlistAPI.ts
  packages/search/CHANGELOG.md
  packages/search/package.json
  packages/search/src/searchAPI.ts
  packages/user/CHANGELOG.md
  packages/user/package.json
  packages/user/src/userAPI.ts
Owners: @tidal-music/tidal-web-platform

Ignore shaka error SRC_EQUALS_PRELOAD_NOT_SUPPORTED as that is handled. Remove preloadManager required for skipToPreloadedMediaProduct so that non-preloadable content also play.
  packages/player/src/player/shakaPlayer.ts
Owners: @enjikaka

Ignore shaka error SRC_EQUALS_PRELOAD_NOT_SUPPORTED as that is handled. Remove preloadManager required for skipToPreloadedMediaProduct so that non-preloadable content also play. (#209)
  packages/player/src/player/shakaPlayer.ts
Owners: @enjikaka

Version 0.5.2
  packages/player/CHANGELOG.md
  packages/player/package.json
Owners: @enjikaka

Version 0.5.2 (#210)
  packages/player/CHANGELOG.md
  packages/player/package.json
Owners: @enjikaka

Ensure correct PlayLogProductType for mediaProducts with type of 'demo'.
  packages/player/src/internal/event-tracking/play-log/index.ts
  packages/player/src/internal/event-tracking/play-log/playback-session.ts
  packages/player/src/internal/handlers/set-next.ts
  packages/player/src/player/basePlayer.ts
Owners: @enjikaka

add test
  packages/player/src/internal/event-tracking/play-log/index.test.ts
Owners: @enjikaka

Report correct productType for PlayLog events when playing demo content (#211)
  packages/player/src/internal/event-tracking/play-log/index.test.ts
  packages/player/src/internal/event-tracking/play-log/index.ts
  packages/player/src/internal/event-tracking/play-log/playback-session.ts
  packages/player/src/internal/handlers/set-next.ts
  packages/player/src/player/basePlayer.ts
Owners: @enjikaka

Reran generators, updates `page[cursor]` description
  packages/catalogue/src/catalogueAPI.ts
  packages/playlist/src/playlistAPI.ts
  packages/search/src/searchAPI.ts
  packages/user/src/userAPI.ts
Owners: @tidal-music/tidal-web-platform

Add handler to get player version from the module.
  packages/player/.env.production
  packages/player/package.json
  packages/player/scripts/version-dump.sh
  packages/player/src/api/index.ts
  packages/player/src/internal/handlers/get-player-version.ts
Owners: @enjikaka

Fix types
  packages/player/src/internal/handlers/get-player-version.ts
  packages/player/vite-env.d.ts
Owners: @enjikaka

Add comment in .env file
  packages/player/.env.production
  packages/player/scripts/version-dump.sh
Owners: @enjikaka

Manual fix groups
  packages/player/src/api/index.ts
Owners: @enjikaka

Remove automatically generated file from git
  .gitignore
  packages/player/.env.production
Owners: @enjikaka

Always generate new streaming session id on next.
  packages/player/src/internal/handlers/set-next.ts
Owners: @enjikaka

Fix referenceId getting lost on touch-n-go in shaka-player.
  packages/player/src/player/shakaPlayer.ts
Owners: @enjikaka
