Repository tidal-music/tidal-sdk-web, changes with the owners that .github/CODEOWNERS names for each.
All owners: @tidal-music/tidal-web-platform, @MathiasTim, @enjikaka

Player: preserve seek before play [release 0.11.1] (#447)
  packages/player/CHANGELOG.md
  packages/player/package.json
  packages/player/src/player/basePlayer.ts
Owners: @enjikaka

Configure Vitest 4 with v8 provider and update settings for test coverage
  .vscode/settings.json
  packages/api/vite.config.ts
  packages/auth/vite.config.ts
  packages/common/vite.config.ts
  packages/event-producer/vite.config.ts
  packages/player-web-components/vite.config.ts
  packages/player/vite.config.ts
  packages/template/vite.config.ts
  packages/true-time/vite.config.ts
  vitest.workspace.ts
Owners: @tidal-music/tidal-web-platform, @MathiasTim, @enjikaka

Configure Vitest 4 with v8 provider and update settings for test coverage (#448)
  .vscode/settings.json
  packages/api/vite.config.ts
  packages/auth/vite.config.ts
  packages/common/vite.config.ts
  packages/event-producer/vite.config.ts
  packages/player-web-components/vite.config.ts
  packages/player/vite.config.ts
  packages/template/vite.config.ts
  packages/true-time/vite.config.ts
  vitest.workspace.ts
Owners: @tidal-music/tidal-web-platform, @MathiasTim, @enjikaka

Update Tidal API to v1.0.9 - 2 files changed
  packages/api/bin/tidal-api-oas.json
  packages/api/src/allAPI.generated.ts
Owners: @tidal-music/tidal-web-platform

fix: incorrect delayed seek in `nativeplayer`
  packages/player/src/player/nativePlayer.ts
Owners: @enjikaka

chore: bump version
  packages/player/CHANGELOG.md
  packages/player/package.json
  packages/player/src/player/nativePlayer.ts
Owners: @enjikaka

Fix incorrect delayed seek in `nativeplayer` (#452)
  packages/player/CHANGELOG.md
  packages/player/package.json
  packages/player/src/player/nativePlayer.ts
Owners: @enjikaka

Update Tidal API to v1.0.26 - 2 files changed
  packages/api/bin/tidal-api-oas.json
  packages/api/src/allAPI.generated.ts
Owners: @tidal-music/tidal-web-platform

Update Tidal API to v1.0.27 - 2 files changed
  packages/api/bin/tidal-api-oas.json
  packages/api/src/allAPI.generated.ts
Owners: @tidal-music/tidal-web-platform

Update Tidal API to v1.0.29 - 2 files changed
  packages/api/bin/tidal-api-oas.json
  packages/api/src/allAPI.generated.ts
Owners: @tidal-music/tidal-web-platform

Update Tidal API to v1.0.30 - 2 files changed
  packages/api/bin/tidal-api-oas.json
  packages/api/src/allAPI.generated.ts
Owners: @tidal-music/tidal-web-platform

Update Tidal API to v1.0.31 - 2 files changed
  packages/api/bin/tidal-api-oas.json
  packages/api/src/allAPI.generated.ts
Owners: @tidal-music/tidal-web-platform

Update Tidal API to v1.0.32 - 2 files changed
  packages/api/bin/tidal-api-oas.json
  packages/api/src/allAPI.generated.ts
Owners: @tidal-music/tidal-web-platform

feat(player): use new trackManifests API for track playback
  packages/player/package.json
  packages/player/src/config.ts
  packages/player/src/internal/handlers/load.ts
  packages/player/src/internal/handlers/set-next.ts
  packages/player/src/internal/helpers/manifest-parser.ts
  packages/player/src/internal/helpers/playback-info-resolver.ts
  packages/player/src/internal/services/pushkin.ts
  packages/player/src/player/filters.ts
  packages/player/src/player/index.ts
  packages/player/src/player/shakaPlayer.ts
  pnpm-lock.yaml
Owners: @enjikaka

Lint fix
  packages/player/src/player/shakaPlayer.ts
Owners: @enjikaka

test(playback-info-resolver): enhance tests for legacy and new trackManifests API
  packages/player/src/internal/helpers/playback-info-resolver.test.ts
Owners: @enjikaka

Skip test for playing state until CORS is configured for Widevine DRM
  packages/player/src/internal/handlers/get-playback-state.test.ts
Owners: @enjikaka

test(connection-handler): skip test for temporary connection drops until CORS is configured for Widevine DRM
  packages/player/src/internal/services/connection-handler.test.ts
Owners: @enjikaka

Revert "Skip test for playing state until CORS is configured for Widevine DRM"
  packages/player/src/internal/handlers/get-playback-state.test.ts
Owners: @enjikaka

fix(tests): update Cypress test to use video playback to keep old API there for now
  packages/player/cypress/e2e/play-log/case-1.cy.ts
  packages/player/cypress/e2e/play-log/case-2.cy.ts
  packages/player/demo/test-case-1.js
  packages/player/demo/test-case-2.js
Owners: @enjikaka

test(get-playback-state): skip flaky test for media playback timing issues
  packages/player/src/internal/handlers/get-playback-state.test.ts
Owners: @enjikaka

fix(fairplay-drm): update server certificate URL to the correct endpoint
  packages/player/src/player/fairplay-drm.ts
Owners: @enjikaka

fix(playback-info-resolver): update audio quality constants, was using wrong `HI_RES`
  packages/player/src/internal/helpers/playback-info-resolver.ts
Owners: @enjikaka

add legacy 'HI_RES' case to audio quality formats, for completeness
  packages/player/src/internal/helpers/playback-info-resolver.ts
Owners: @enjikaka

fix(playback-info-resolver): remove redundant comment on uriScheme in track manifest fetch
  packages/player/src/internal/helpers/playback-info-resolver.ts
Owners: @enjikaka

refactor(playback-info-resolver): rename _fetch to _fetchLegacyPlaybackInfo for clarity
  packages/player/src/internal/helpers/playback-info-resolver.ts
Owners: @enjikaka

feat: fixed player not loading for users not logged in on desktop
  packages/player/src/internal/handlers/load.ts
  packages/player/src/player/index.test.ts
  packages/player/src/player/index.ts
Owners: @enjikaka

Simplify code
  packages/player/src/player/shakaPlayer.ts
Owners: @enjikaka

Revert `apiUrl` changes as Cors now works
  packages/player/src/config.ts
  packages/player/src/internal/helpers/playback-info-resolver.ts
  packages/player/src/internal/services/pushkin.ts
  packages/player/src/player/shakaPlayer.ts
Owners: @enjikaka

Update Tidal API to v1.0.33 - 2 files changed
  packages/api/bin/tidal-api-oas.json
  packages/api/src/allAPI.generated.ts
Owners: @tidal-music/tidal-web-platform

Split test in separate files to avoid flakiness (and reenable).
  packages/player/src/internal/services/connection-handler-no-reload.test.ts
  packages/player/src/internal/services/connection-handler-reload.test.ts
Owners: @enjikaka

Passes 9 out of 10 it seems
  packages/player/src/internal/handlers/get-playback-state.test.ts
Owners: @enjikaka

Simplify test
  packages/player/src/internal/handlers/get-playback-state.test.ts
Owners: @enjikaka

Apply suggestion from @Copilot
  packages/player/src/internal/helpers/playback-info-resolver.ts
Owners: @enjikaka

Clear TODO
  packages/player/src/internal/helpers/playback-info-resolver.ts
Owners: @enjikaka

Update packages/player/src/internal/helpers/manifest-parser.ts
  packages/player/src/internal/helpers/manifest-parser.ts
Owners: @enjikaka

Update Tidal API to v1.0.34 - 2 files changed
  packages/api/bin/tidal-api-oas.json
  packages/api/src/allAPI.generated.ts
Owners: @tidal-music/tidal-web-platform

Add functions to extract audio properties from DASH and TIDAL HLS manifests
  packages/player/src/internal/helpers/manifest-parser.ts
Owners: @enjikaka

Update `setNext` to also use `mimeType` and block HLS from entering Native Player like DASH.
  packages/player/src/internal/handlers/set-next.ts
  packages/player/src/player/index.test.ts
  packages/player/src/player/index.ts
Owners: @enjikaka

feat: fixed player not loading for users not logged in on desktop (#470)
  packages/player/src/internal/handlers/load.ts
  packages/player/src/internal/handlers/set-next.ts
  packages/player/src/player/index.test.ts
  packages/player/src/player/index.ts
Owners: @enjikaka

.github/CODEOWNERS:

*.sh @tidal-music/tidal-web-platform
*.md @tidal-music/tidal-web-platform
*.json @tidal-music/tidal-web-platform

/packages/ @tidal-music/tidal-web-platform
/packages/auth/ @MathiasTim
/packages/event-producer @tidal-music/tidal-web-platform
/packages/player @enjikaka
