Repository tidal-music/tidal-sdk-web, changes with the owners that .github/CODEOWNERS names for each.
All owners: @tidal-music/tidal-web-platform, @MathiasTim, @enjikaka

Switch to v2 Beta version of API, JsonAPI based
  packages/catalogue/examples/example.js
  packages/catalogue/package.json
  packages/catalogue/src/catalogue.ts
  packages/catalogue/src/catalogueAPI.d.ts
Owners: @tidal-music/tidal-web-platform

Add entry in changelog and clean package.json a bit
  packages/catalogue/CHANGELOG.md
  packages/catalogue/package.json
Owners: @tidal-music/tidal-web-platform

Avoid type checking the built files, as that seems to fail.
  packages/catalogue/tsconfig.json
Owners: @tidal-music/tidal-web-platform

Slightly cleaner example
  packages/catalogue/examples/example.js
Owners: @tidal-music/tidal-web-platform

Add a simple unit test
  packages/catalogue/src/catalogue.test.ts
Owners: @tidal-music/tidal-web-platform

Nit-picking
  packages/catalogue/examples/example.js
  packages/catalogue/examples/index.html
  packages/catalogue/src/catalogue.ts
Owners: @tidal-music/tidal-web-platform

Add minimal docs
  packages/catalogue/README.md
Owners: @tidal-music/tidal-web-platform

Remove comment after code review
  packages/catalogue/src/catalogue.ts
Owners: @tidal-music/tidal-web-platform

Add more docs and simplify running example
  packages/catalogue/README.md
  packages/catalogue/index.html
Owners: @tidal-music/tidal-web-platform

Better documentation
  packages/catalogue/src/catalogue.ts
Owners: @tidal-music/tidal-web-platform

Catalogue module (#49)
  packages/catalogue/CHANGELOG.md
  packages/catalogue/README.md
  packages/catalogue/examples/example.js
  packages/catalogue/index.html
  packages/catalogue/package.json
  packages/catalogue/src/catalogue.test.ts
  packages/catalogue/src/catalogue.ts
  packages/catalogue/src/catalogueAPI.d.ts
  packages/catalogue/src/index.ts
  packages/catalogue/src/vite-env.d.ts
  packages/catalogue/tsconfig.build.json
  packages/catalogue/tsconfig.json
  packages/catalogue/typedoc.json
  packages/catalogue/vite.config.ts
  pnpm-lock.yaml
Owners: @tidal-music/tidal-web-platform

Initial code structure
  packages/search/README.md
  packages/search/package.json
  packages/search/src/index.test.ts
  packages/search/src/index.ts
  packages/search/src/search.test.ts
  packages/search/src/search.ts
  packages/search/src/vite-env.d.ts
  packages/search/tsconfig.build.json
  packages/search/tsconfig.json
  packages/search/typedoc.json
  packages/search/vite.config.ts
  pnpm-lock.yaml
Owners: @tidal-music/tidal-web-platform

Sync Search with Catalogue module setup and add example
  packages/search/CHANGELOG.md
  packages/search/examples/example.js
  packages/search/index.html
  packages/search/package.json
  packages/search/src/index.test.ts
  packages/search/src/index.ts
  packages/search/src/search.test.ts
  packages/search/src/search.ts
  packages/search/src/searchAPI.d.ts
  packages/search/tsconfig.json
  pnpm-lock.yaml
Owners: @tidal-music/tidal-web-platform

Add Readme
  packages/search/README.md
Owners: @tidal-music/tidal-web-platform

Search Module (#144)
  packages/search/CHANGELOG.md
  packages/search/README.md
  packages/search/examples/example.js
  packages/search/index.html
  packages/search/package.json
  packages/search/src/index.ts
  packages/search/src/search.test.ts
  packages/search/src/search.ts
  packages/search/src/searchAPI.d.ts
  packages/search/src/vite-env.d.ts
  packages/search/tsconfig.build.json
  packages/search/tsconfig.json
  packages/search/typedoc.json
  packages/search/vite.config.ts
  pnpm-lock.yaml
Owners: @tidal-music/tidal-web-platform

Initial attempt at converting SharedWorker to (Web)Worker
  packages/event-producer/src/queue/queue.test.ts
  packages/event-producer/src/queue/queue.ts
  packages/event-producer/src/queue/worker.ts
Owners: @tidal-music/tidal-web-platform

Switch from `worker.onmessage` to `worker.addEventListener('message'` to avoid double message in Vitest.
  packages/event-producer/src/queue/queue.ts
Owners: @tidal-music/tidal-web-platform

Terminate Worker after each test, ensures the tests do not interfere with each other.
  packages/event-producer/src/queue/queue.test.ts
Owners: @tidal-music/tidal-web-platform

Revert some changes
  packages/event-producer/src/queue/queue.test.ts
Owners: @tidal-music/tidal-web-platform

Converting SharedWorker to (Web)Worker (#147)
  packages/event-producer/src/queue/queue.test.ts
  packages/event-producer/src/queue/queue.ts
  packages/event-producer/src/queue/worker.ts
Owners: @tidal-music/tidal-web-platform

Bump EP version
  packages/event-producer/CHANGELOG.md
  packages/event-producer/package.json
Owners: @tidal-music/tidal-web-platform

Bump EP version (#148)
  packages/event-producer/CHANGELOG.md
  packages/event-producer/package.json
Owners: @tidal-music/tidal-web-platform

Freeze some versions for now, so update can run
  packages/catalogue/package.json
  packages/player/package.json
  packages/search/package.json
  pnpm-lock.yaml
  renovate.json
Owners: @tidal-music/tidal-web-platform, @enjikaka

Simplify PNPM and Node version locking
  .github/actions/setup/action.yml
  package.json
Owners: @tidal-music/tidal-web-platform

Try to fix Renovate
  renovate.json
Owners: @tidal-music/tidal-web-platform

Try to fix Renovate (#150)
  renovate.json
Owners: @tidal-music/tidal-web-platform

fix truetime
  packages/true-time/src/index.ts
Owners: @tidal-music/tidal-web-platform

Added support for demo content
  packages/player/src/api/interfaces.ts
  packages/player/src/internal/constants.ts
  packages/player/src/internal/helpers/manifest-parser.ts
  packages/player/src/internal/helpers/playback-info-resolver.test.ts
  packages/player/src/internal/helpers/playback-info-resolver.ts
  packages/player/src/player/index.ts
  packages/player/src/player/shakaPlayer.ts
Owners: @enjikaka

Fixed linter error
  packages/player/src/internal/helpers/playback-info-resolver.test.ts
Owners: @enjikaka

Added support for demo content (#154)
  packages/player/src/api/interfaces.ts
  packages/player/src/internal/constants.ts
  packages/player/src/internal/helpers/manifest-parser.ts
  packages/player/src/internal/helpers/playback-info-resolver.test.ts
  packages/player/src/internal/helpers/playback-info-resolver.ts
  packages/player/src/player/index.ts
  packages/player/src/player/shakaPlayer.ts
Owners: @enjikaka

Bumping player version
  packages/player/CHANGELOG.md
  packages/player/package.json
Owners: @enjikaka

Bumping player version to 0.3.0 (#157)
  packages/player/CHANGELOG.md
  packages/player/package.json
Owners: @enjikaka

Remove the playback progress event.
  packages/player/src/internal/beacon/playback.ts
  packages/player/src/internal/beacon/types.ts
  packages/player/src/internal/beacon/worker.ts
  packages/player/src/internal/event-tracking/playback/index.ts
  packages/player/src/internal/event-tracking/playback/progress.ts
  packages/player/src/player/basePlayer.ts
Owners: @enjikaka

Remove parsing for MQA output devices and wiring for MQA passthrough to Native Player.
  packages/player/src/api/index.ts
  packages/player/src/internal/event-tracking/streaming-metrics/playback-statistics.ts
  packages/player/src/internal/handlers/set-output-device-pass-through.ts
  packages/player/src/internal/helpers/manifest-parser.ts
  packages/player/src/internal/output-devices.test.ts
  packages/player/src/internal/output-devices.ts
  packages/player/src/internal/types.ts
  packages/player/src/player/nativeInterface.ts
  packages/player/src/player/nativePlayer.ts
Owners: @enjikaka

Remove parsing for MQA output devices and wiring for MQA passthrough to Native Player. (#159)
  packages/player/src/api/index.ts
  packages/player/src/internal/event-tracking/streaming-metrics/playback-statistics.ts
  packages/player/src/internal/handlers/set-output-device-pass-through.ts
  packages/player/src/internal/helpers/manifest-parser.ts
  packages/player/src/internal/output-devices.test.ts
  packages/player/src/internal/output-devices.ts
  packages/player/src/internal/types.ts
  packages/player/src/player/nativeInterface.ts
  packages/player/src/player/nativePlayer.ts
Owners: @enjikaka

Remove the playback progress event. (#158)
  packages/player/src/internal/beacon/playback.ts
  packages/player/src/internal/beacon/types.ts
  packages/player/src/internal/beacon/worker.ts
  packages/player/src/internal/event-tracking/playback/index.ts
  packages/player/src/internal/event-tracking/playback/progress.ts
  packages/player/src/player/basePlayer.ts
Owners: @enjikaka

Remove mediaElementTwo
  packages/player/src/internal/helpers/wait-for-players.ts
  packages/player/src/player/audio-context-store.ts
  packages/player/src/player/browserPlayer.ts
  packages/player/src/player/shakaPlayer.ts
Owners: @enjikaka

Refactor variable names for shaka instances
  packages/player/src/player/shakaPlayer.ts
Owners: @enjikaka

First version POC of Preload API w shaka-player
  packages/player/src/player/basePlayer.ts
  packages/player/src/player/shakaPlayer.ts
Owners: @enjikaka

Bump package version and update changelog
  packages/player/CHANGELOG.md
  packages/player/package.json
Owners: @enjikaka

.github/CODEOWNERS:

*.sh @tidal-music/tidal-web-platform
*.md @tidal-music/tidal-web-platform
*.json @tidal-music/tidal-web-platform

/packages/ @tidal-music/tidal-web-platform
/packages/auth/ @MathiasTim
/packages/event-producer @tidal-music/tidal-web-platform
/packages/player @enjikaka
