Repository tidal-music/tidal-sdk-web, changes with the owners that .github/CODEOWNERS names for each.
All owners: @tidal-music/tidal-web-platform, @MathiasTim, @enjikaka

Fixed a bug where playback of demo content was not possible in Safari because of issues with FairPlay
  packages/player/src/internal/handlers/load.ts
  packages/player/src/internal/handlers/set-next.ts
  packages/player/src/player/shakaPlayer.ts
Owners: @enjikaka

Removed commented out code
  packages/player/src/player/shakaPlayer.ts
Owners: @enjikaka

Linter fixes
  packages/player/src/internal/handlers/load.ts
  packages/player/src/internal/handlers/set-next.ts
Owners: @enjikaka

Allow playback of demo content in Safari (#162)
  packages/player/src/internal/handlers/load.ts
  packages/player/src/internal/handlers/set-next.ts
  packages/player/src/player/shakaPlayer.ts
Owners: @enjikaka

Bumping player to version 0.3.1
  packages/player/CHANGELOG.md
  packages/player/package.json
Owners: @enjikaka

Moved from patch to minor update
  packages/player/CHANGELOG.md
  packages/player/package.json
Owners: @enjikaka

Bumping player to version 0.4.0 (#163)
  packages/player/CHANGELOG.md
  packages/player/package.json
Owners: @enjikaka

Import new Catalogue types
  packages/catalogue/CHANGELOG.md
  packages/catalogue/src/catalogueAPI.d.ts
Owners: @tidal-music/tidal-web-platform

Search module fixes
  packages/search/CHANGELOG.md
  packages/search/src/searchAPI.d.ts
Owners: @tidal-music/tidal-web-platform

Search module fixes (#166)
  packages/search/CHANGELOG.md
  packages/search/src/searchAPI.d.ts
Owners: @tidal-music/tidal-web-platform

Forgot to bump version in `package.json`
  packages/search/CHANGELOG.md
  packages/search/package.json
Owners: @tidal-music/tidal-web-platform

Set version and date
  packages/catalogue/CHANGELOG.md
  packages/catalogue/package.json
Owners: @tidal-music/tidal-web-platform

Update Search `package.json` version (#167)
  packages/search/CHANGELOG.md
  packages/search/package.json
Owners: @tidal-music/tidal-web-platform

Import new Catalogue types (#165)
  packages/catalogue/CHANGELOG.md
  packages/catalogue/package.json
  packages/catalogue/src/catalogueAPI.d.ts
Owners: @tidal-music/tidal-web-platform

Instantiate Shaka with the correct config depending on the first item loaded
  packages/player/src/internal/handlers/load.ts
  packages/player/src/internal/handlers/set-next.ts
  packages/player/src/player/index.ts
  packages/player/src/player/shakaPlayer.ts
Owners: @enjikaka

Removed unnecessary export
  packages/player/src/player/index.ts
Owners: @enjikaka

Linter fixes
  packages/player/src/internal/handlers/load.ts
  packages/player/src/internal/handlers/set-next.ts
Owners: @enjikaka

Bumped player to 0.4.1
  packages/player/CHANGELOG.md
  packages/player/package.json
Owners: @enjikaka

Added option to apply the correct config for instantiation of shaka (#168)
  packages/player/src/player/index.ts
  packages/player/src/player/shakaPlayer.ts
Owners: @enjikaka

Bumping player to version 0.4.1 (#169)
  packages/player/CHANGELOG.md
  packages/player/package.json
Owners: @enjikaka

Remove "--sequence.concurrent" as it caused failure in some packages
  packages/auth/package.json
  packages/catalogue/package.json
  packages/common/package.json
  packages/event-producer/package.json
  packages/player-web-components/package.json
  packages/search/package.json
  packages/template/package.json
  packages/true-time/package.json
Owners: @MathiasTim, @tidal-music/tidal-web-platform

Revert to `vitest` 2.0.4 as 2.0.5 has more Chai problems: https://github.com/vitest-dev/vitest/issues/4688
  package.json
  packages/auth/package.json
  packages/catalogue/package.json
  packages/common/package.json
  packages/event-producer/package.json
  packages/player-web-components/package.json
  packages/player/package.json
  packages/search/package.json
  packages/template/package.json
  packages/true-time/package.json
  pnpm-lock.yaml
Owners: @tidal-music/tidal-web-platform, @MathiasTim, @enjikaka

Revert Vitest for now
  package.json
  packages/auth/package.json
  packages/catalogue/package.json
  packages/common/package.json
  packages/event-producer/package.json
  packages/player-web-components/package.json
  packages/player/package.json
  packages/search/package.json
  packages/template/package.json
  packages/true-time/package.json
  pnpm-lock.yaml
Owners: @tidal-music/tidal-web-platform, @MathiasTim, @enjikaka

Switch safari config on demand
  packages/player/src/internal/handlers/load.ts
  packages/player/src/player/index.ts
  packages/player/src/player/shakaPlayer.ts
Owners: @enjikaka

Removing adding passed scopes when using client credentials
  packages/auth/src/auth/auth.test.ts
  packages/auth/src/auth/auth.ts
Owners: @MathiasTim

Removing adding passed scopes when using client credentials (#175)
  packages/auth/src/auth/auth.test.ts
  packages/auth/src/auth/auth.ts
Owners: @MathiasTim

Bump auth version to 1.3.2
  packages/auth/package.json
Owners: @MathiasTim

Adding changelog
  packages/auth/CHANGELOG.md
Owners: @MathiasTim

[Auth] Bumping version (#176)
  packages/auth/CHANGELOG.md
  packages/auth/package.json
Owners: @MathiasTim

Remove updatePlayerConfig method and its usage too.
  packages/player/src/internal/handlers/set-next.ts
  packages/player/src/player/shakaPlayer.ts
Owners: @enjikaka

Update set-next.ts
  packages/player/src/internal/handlers/set-next.ts
Owners: @enjikaka

[Player] Switch safari config for demo playback to be set on demand (#173)
  packages/player/src/internal/handlers/load.ts
  packages/player/src/internal/handlers/set-next.ts
  packages/player/src/player/index.ts
  packages/player/src/player/shakaPlayer.ts
Owners: @enjikaka

Omitting scope validity check for client credentials
  packages/auth/src/auth/auth.test.ts
  packages/auth/src/auth/auth.ts
Owners: @MathiasTim

Omitting scope validity check for client credentials (#178)
  packages/auth/src/auth/auth.test.ts
  packages/auth/src/auth/auth.ts
Owners: @MathiasTim

Bump auth version
  packages/auth/CHANGELOG.md
  packages/auth/package.json
Owners: @MathiasTim

Bump auth version (#179)
  packages/auth/CHANGELOG.md
  packages/auth/package.json
Owners: @MathiasTim

[Player] Fix transitions from MAX -> LOW and some instances of simultaneous playback (#177)
  packages/player/src/player/browserPlayer.ts
  packages/player/src/player/index.ts
  packages/player/src/player/nativePlayer.ts
  packages/player/src/player/shakaPlayer.ts
Owners: @enjikaka

Bump version number to 0.4.2
  packages/player/package.json
Owners: @enjikaka

Update changelog
  packages/player/CHANGELOG.md
Owners: @enjikaka

[Player] Release v0.4.2 (#180)
  packages/player/CHANGELOG.md
  packages/player/package.json
Owners: @enjikaka

.github/CODEOWNERS:

*.sh @tidal-music/tidal-web-platform
*.md @tidal-music/tidal-web-platform
*.json @tidal-music/tidal-web-platform

/packages/ @tidal-music/tidal-web-platform
/packages/auth/ @MathiasTim
/packages/event-producer @tidal-music/tidal-web-platform
/packages/player @enjikaka
