Repository tidal-music/tidal-sdk-web, changes with the owners that .github/CODEOWNERS names for each.
All owners: @tidal-music/tidal-web-platform, @MathiasTim, @enjikaka

.github/CODEOWNERS:

*.sh @tidal-music/tidal-web-platform
*.md @tidal-music/tidal-web-platform
*.json @tidal-music/tidal-web-platform

/packages/ @tidal-music/tidal-web-platform
/packages/auth/ @MathiasTim
/packages/event-producer @tidal-music/tidal-web-platform
/packages/player @enjikaka

Update Tidal API to v1.7.1 - 2 files changed
  packages/api/CHANGELOG.md
  packages/api/bin/tidal-api-oas.json
  packages/api/package.json
  packages/api/src/allAPI.generated.ts
Owners: @tidal-music/tidal-web-platform

feat(player): serve dev at https://dev.tidal.com:5173 (#614)
  .github/workflows/cypress.yml
  packages/player/README.md
  packages/player/cypress.config.js
  packages/player/cypress/e2e/play-log/case-1.cy.ts
  packages/player/cypress/e2e/play-log/case-2.cy.ts
  packages/player/cypress/e2e/play-log/case-gapless.cy.ts
  packages/player/cypress/helpers.ts
  packages/player/demo/helpers.js
  packages/player/package.json
  packages/player/src/internal/handlers/load.ts
  packages/player/src/player/basePlayer.ts
  packages/player/vite.config.ts
  pnpm-lock.yaml
Owners: @enjikaka

fix(player): add circuit breaker for HTMLMediaElement error spam
  packages/player/src/internal/index.ts
  packages/player/src/player/browserPlayer.ts
  packages/player/src/player/media-element-error-circuit-breaker.test.ts
  packages/player/src/player/media-element-error-circuit-breaker.ts
  packages/player/src/player/shakaPlayer.ts
Owners: @enjikaka

fix(player): re-arm error breaker on every reset() and tighten docs
  packages/player/src/player/browserPlayer.ts
  packages/player/src/player/media-element-error-circuit-breaker.test.ts
  packages/player/src/player/media-element-error-circuit-breaker.ts
  packages/player/src/player/shakaPlayer.ts
Owners: @enjikaka

refactor(player): move media element error circuit breaker to internal/helpers
  packages/player/src/internal/helpers/media-element-error-circuit-breaker.test.ts
  packages/player/src/internal/helpers/media-element-error-circuit-breaker.ts
  packages/player/src/player/browserPlayer.ts
  packages/player/src/player/shakaPlayer.ts
Owners: @enjikaka

fix(player): add circuit breaker for HTMLMediaElement error spam (#622)
  packages/player/src/internal/helpers/media-element-error-circuit-breaker.test.ts
  packages/player/src/internal/helpers/media-element-error-circuit-breaker.ts
  packages/player/src/internal/index.ts
  packages/player/src/player/browserPlayer.ts
  packages/player/src/player/shakaPlayer.ts
Owners: @enjikaka

chore(deps): rename dts plugin option to bundleTypes
  packages/api/vite.config.ts
  packages/auth/vite.config.ts
  packages/common/vite.config.ts
  packages/event-producer/vite.config.ts
  packages/player-web-components/vite.config.ts
  packages/player/vite.config.ts
  packages/template/vite.config.ts
  packages/true-time/vite.config.ts
Owners: @tidal-music/tidal-web-platform, @MathiasTim, @enjikaka

fix(cypress): update Cypress test to use relative URL for crossfade demo
  packages/player/cypress/e2e/play-log/case-crossfade.cy.ts
Owners: @enjikaka

Update Tidal API to v1.7.6 - 2 files changed
  packages/api/CHANGELOG.md
  packages/api/bin/tidal-api-oas.json
  packages/api/package.json
  packages/api/src/allAPI.generated.ts
Owners: @tidal-music/tidal-web-platform

feat(player): enhance Vite configuration for development mode
  packages/player/vite.config.ts
Owners: @enjikaka

fix: Vitest extension config resolution for vite-plugin-mkcert
  package.json
  pnpm-lock.yaml
Owners: @tidal-music/tidal-web-platform

fix: Vitest extension config resolution for vite-plugin-mkcert (#624)
  package.json
  pnpm-lock.yaml
Owners: @tidal-music/tidal-web-platform

fix(player): stabilize gapless crossfade reruns
  packages/player/cypress/e2e/play-log/case-crossfade.cy.ts
  packages/player/cypress/e2e/play-log/case-gapless.cy.ts
  packages/player/demo/helpers.js
  packages/player/demo/test-case-gapless.js
  packages/player/src/internal/index.ts
  packages/player/src/player/basePlayer.ts
  packages/player/src/player/shakaPlayer.ts
Owners: @enjikaka

Update Tidal API to v1.8.1 - 2 files changed
  packages/api/CHANGELOG.md
  packages/api/bin/tidal-api-oas.json
  packages/api/src/allAPI.generated.ts
Owners: @tidal-music/tidal-web-platform

chore(player demo): scale gapless demo seek to crossfade duration
  packages/player/demo/test-case-gapless.js
Owners: @enjikaka

chore(player): restore @ts-expect-error rationale in adaptations test
  packages/player/src/player/adaptations.test.ts
Owners: @enjikaka

chore(player): restore Shaka FakeEvent cast rationale comment
  packages/player/src/player/adaptations.ts
Owners: @enjikaka

fix(player): address copilot review on crossfade trigger and setSinkId
  packages/player/src/player/shakaPlayer.ts
Owners: @enjikaka

fix(player): clean preload session id on inactive player critical errors
  packages/player/src/player/shakaPlayer.ts
Owners: @enjikaka

chore(player): drop dead clientId check in #configureDRMOnce
  packages/player/src/player/shakaPlayer.ts
Owners: @enjikaka

refactor(player): drop DRM dedup machinery and authorized listener
  packages/player/src/player/shakaPlayer.ts
Owners: @enjikaka

fix(player): tighten preload state cleanup and crossfade trigger guard
  packages/player/src/player/shakaPlayer.ts
Owners: @enjikaka

fix(player): plug streamingSessionStore leaks and DOM-mount check
  packages/player/src/player/audio-context-store.ts
  packages/player/src/player/shakaPlayer.ts
Owners: @enjikaka

fix(player): tighten ended/crossfade-trigger guards
  packages/player/src/player/shakaPlayer.ts
Owners: @enjikaka

fix(player): clamp crossfade to remaining time and clean up load listeners
  packages/player/src/player/shakaPlayer.ts
Owners: @enjikaka

fix(player): defer mid-crossfade session finalization to #completeTransition
  packages/player/src/player/shakaPlayer.ts
Owners: @enjikaka

fix(player): revalidate preload after awaits before arming next()
  packages/player/src/player/shakaPlayer.ts
Owners: @enjikaka

fix(player): tear down preload state on transition play() failure
  packages/player/src/player/shakaPlayer.ts
Owners: @enjikaka

fix(player): guard transition against pause and self-rearm trigger
  packages/player/src/player/shakaPlayer.ts
Owners: @enjikaka

fix(player): account for playbackRate when clamping crossfade duration
  packages/player/src/player/shakaPlayer.ts
Owners: @enjikaka

fix(player): guard pause and NaN duration in transition paths
  packages/player/src/player/shakaPlayer.ts
Owners: @enjikaka

fix(player): attribute preload DRM telemetry to correct session
  packages/player/demo/test-case-gapless.js
  packages/player/src/player/shakaPlayer.ts
Owners: @enjikaka

fix(player): tear down armed crossfade trigger when preload is cleared
  packages/player/src/player/shakaPlayer.ts
Owners: @enjikaka

Update Tidal API to v1.9.2 - 2 files changed
  packages/api/CHANGELOG.md
  packages/api/bin/tidal-api-oas.json
  packages/api/src/allAPI.generated.ts
Owners: @tidal-music/tidal-web-platform

refactor(player): rename isGaplessTransition and dedupe reset() unload
  packages/player/src/player/basePlayer.ts
  packages/player/src/player/shakaPlayer.ts
Owners: @enjikaka

Lint fix
  packages/player/src/player/basePlayer.ts
Owners: @enjikaka

fix(player): refresh trigger config and privatise dual-player helpers
  packages/player/src/player/shakaPlayer.ts
Owners: @enjikaka

fix(player): satisfy perfectionist/sort-classes after dual-player rename
  packages/player/src/player/shakaPlayer.ts
Owners: @enjikaka

fix(player): tighten reset/preload teardown, harden DOM container, add transition-mode tests
  packages/player/src/internal/handlers/get-transition-mode.test.ts
  packages/player/src/internal/handlers/set-transition-mode.test.ts
  packages/player/src/player/audio-context-store.ts
  packages/player/src/player/shakaPlayer.ts
Owners: @enjikaka

fix(player): attribute LICENSE_REQUEST_FAILED to preload session and unload inactive Shaka unconditionally
  packages/player/src/player/shakaPlayer.ts
Owners: @enjikaka
