Repository tidal-music/tidal-sdk-web, changes with the owners that .github/CODEOWNERS names for each.
All owners: @tidal-music/tidal-web-platform, @MathiasTim, @enjikaka

Fix failing tidalapi generation (#385)
  .github/workflows/generate-tidal-api.yml
Owners: none

Update Tidal API to v0.1.78 - 2 files changed
  packages/api/bin/tidal-api-oas.json
  packages/api/src/allAPI.generated.ts
Owners: @tidal-music/tidal-web-platform

Update Tidal API to v0.1.79 - 2 files changed
  packages/api/bin/tidal-api-oas.json
  packages/api/src/allAPI.generated.ts
Owners: @tidal-music/tidal-web-platform

Update Tidal API to v0.1.81 - 2 files changed
  packages/api/bin/tidal-api-oas.json
  packages/api/src/allAPI.generated.ts
Owners: @tidal-music/tidal-web-platform

Update Tidal API to v0.1.82 - 2 files changed
  packages/api/bin/tidal-api-oas.json
  packages/api/src/allAPI.generated.ts
Owners: @tidal-music/tidal-web-platform

Update Tidal API to v0.1.83 - 2 files changed
  packages/api/bin/tidal-api-oas.json
  packages/api/src/allAPI.generated.ts
Owners: @tidal-music/tidal-web-platform

Update Tidal API to v0.1.85 - 2 files changed
  packages/api/bin/tidal-api-oas.json
  packages/api/src/allAPI.generated.ts
Owners: @tidal-music/tidal-web-platform

Update API version to 0.6.0 with new API definitions (version: 0.1.85)
  packages/api/CHANGELOG.md
  packages/api/package.json
Owners: @tidal-music/tidal-web-platform

Update API version to 0.6.0 with new API definitions (version: 0.1.85) (#398)
  packages/api/CHANGELOG.md
  packages/api/package.json
Owners: @tidal-music/tidal-web-platform

Update Tidal API to v0.1.86 - 2 files changed
  packages/api/bin/tidal-api-oas.json
  packages/api/src/allAPI.generated.ts
Owners: @tidal-music/tidal-web-platform

Update Tidal API to v0.1.87 - 2 files changed
  packages/api/bin/tidal-api-oas.json
  packages/api/src/allAPI.generated.ts
Owners: @tidal-music/tidal-web-platform

Update Tidal API to v0.1.89 - 2 files changed
  packages/api/bin/tidal-api-oas.json
  packages/api/src/allAPI.generated.ts
Owners: @tidal-music/tidal-web-platform

Update Tidal API to v0.1.90 - 2 files changed
  packages/api/bin/tidal-api-oas.json
  packages/api/src/allAPI.generated.ts
Owners: @tidal-music/tidal-web-platform

Update Tidal API to v0.1.91 - 2 files changed
  packages/api/bin/tidal-api-oas.json
  packages/api/src/allAPI.generated.ts
Owners: @tidal-music/tidal-web-platform

Update Tidal API to v0.1.92 - 2 files changed
  packages/api/bin/tidal-api-oas.json
  packages/api/src/allAPI.generated.ts
Owners: @tidal-music/tidal-web-platform

Update Tidal API to v0.1.93 - 2 files changed
  packages/api/bin/tidal-api-oas.json
  packages/api/src/allAPI.generated.ts
Owners: @tidal-music/tidal-web-platform

Update Tidal API to v0.1.93 - 1 files changed
  packages/api/bin/tidal-api-oas.json
Owners: @tidal-music/tidal-web-platform

Update Tidal API to v0.1.94 - 2 files changed
  packages/api/bin/tidal-api-oas.json
  packages/api/src/allAPI.generated.ts
Owners: @tidal-music/tidal-web-platform

Refactor test setup to use proper mock implementations and ensure all mocks are cleared after each test
  packages/auth/src/auth/auth.test.ts
  packages/auth/src/storage/storage.test.ts
  packages/event-producer/src/send/send.test.ts
  packages/event-producer/src/submit/submit.test.ts
Owners: @MathiasTim, @tidal-music/tidal-web-platform

Refactor imports in vite.config.ts files for consistency and clarity
  packages/auth/vite.config.ts
  packages/event-producer/vite.config.ts
Owners: @MathiasTim, @tidal-music/tidal-web-platform

Update Tidal API to v0.1.97 - 2 files changed
  packages/api/bin/tidal-api-oas.json
  packages/api/src/allAPI.generated.ts
Owners: @tidal-music/tidal-web-platform

Update Tidal API to v0.1.99 - 2 files changed
  packages/api/bin/tidal-api-oas.json
  packages/api/src/allAPI.generated.ts
Owners: @tidal-music/tidal-web-platform

Update Tidal API to v0.1.100 - 2 files changed
  packages/api/bin/tidal-api-oas.json
  packages/api/src/allAPI.generated.ts
Owners: @tidal-music/tidal-web-platform

Update Tidal API to v1.0.1 - 2 files changed
  packages/api/bin/tidal-api-oas.json
  packages/api/src/allAPI.generated.ts
Owners: @tidal-music/tidal-web-platform

Update Tidal API to v1.0.2 - 2 files changed
  packages/api/bin/tidal-api-oas.json
  packages/api/src/allAPI.generated.ts
Owners: @tidal-music/tidal-web-platform

Update Tidal API to v1.0.4 - 2 files changed
  packages/api/bin/tidal-api-oas.json
  packages/api/src/allAPI.generated.ts
Owners: @tidal-music/tidal-web-platform

Update Tidal API to v1.0.5 - 2 files changed
  packages/api/bin/tidal-api-oas.json
  packages/api/src/allAPI.generated.ts
Owners: @tidal-music/tidal-web-platform

Update Tidal API to v1.0.5 - 2 files changed
  packages/api/bin/tidal-api-oas.json
  packages/api/src/allAPI.generated.ts
Owners: @tidal-music/tidal-web-platform

Update Tidal API to v1.0.6 - 2 files changed
  packages/api/bin/tidal-api-oas.json
  packages/api/src/allAPI.generated.ts
Owners: @tidal-music/tidal-web-platform

Update Tidal API to v1.0.7 - 2 files changed
  packages/api/bin/tidal-api-oas.json
  packages/api/src/allAPI.generated.ts
Owners: @tidal-music/tidal-web-platform

Exclude the API components type from API docs generation
  packages/api/src/index.ts
Owners: @tidal-music/tidal-web-platform

Simplify some links to `PlaybackStateChange` for TypeDoc, as it was failing to resolve
  packages/player/src/internal/handlers/load.ts
  packages/player/src/internal/handlers/pause.ts
  packages/player/src/internal/handlers/play.ts
  packages/player/src/internal/handlers/reset.ts
Owners: @enjikaka

Update test case product ID and playback position in Cypress tests and demo script
  packages/player/cypress/e2e/play-log/case-1.cy.ts
  packages/player/demo/test-case-1.js
Owners: @enjikaka

Exclude the API components type from API docs generation (#444)
  packages/api/src/index.ts
  packages/player/cypress/e2e/play-log/case-1.cy.ts
  packages/player/demo/test-case-1.js
  packages/player/src/internal/handlers/load.ts
  packages/player/src/internal/handlers/pause.ts
  packages/player/src/internal/handlers/play.ts
  packages/player/src/internal/handlers/reset.ts
Owners: @tidal-music/tidal-web-platform, @enjikaka

Update Tidal API to v1.0.7 - 2 files changed
  packages/api/bin/tidal-api-oas.json
  packages/api/src/allAPI.generated.ts
Owners: @tidal-music/tidal-web-platform

fix: preserve seek before play
  packages/player/src/player/basePlayer.ts
Owners: @enjikaka

API: Update version to 0.7.0 and sync changelog with new API definitions (version: 1.0.7)
  packages/api/CHANGELOG.md
  packages/api/package.json
Owners: @tidal-music/tidal-web-platform

API: Update version to 0.7.0 and sync changelog with new API definitions (version: 1.0.7) (#446)
  packages/api/CHANGELOG.md
  packages/api/package.json
Owners: @tidal-music/tidal-web-platform

Update README to reflect API not beta anymore
  packages/api/README.md
Owners: @tidal-music/tidal-web-platform

chore: bump version + changelog entry
  packages/player/CHANGELOG.md
  packages/player/package.json
Owners: @enjikaka

.github/CODEOWNERS:

*.sh @tidal-music/tidal-web-platform
*.md @tidal-music/tidal-web-platform
*.json @tidal-music/tidal-web-platform

/packages/ @tidal-music/tidal-web-platform
/packages/auth/ @MathiasTim
/packages/event-producer @tidal-music/tidal-web-platform
/packages/player @enjikaka
