Repository tidal-music/tidal-sdk-web, changes with the owners that .github/CODEOWNERS names for each.
All owners: @tidal-music/tidal-web-platform, @MathiasTim, @enjikaka

.github/CODEOWNERS:

*.sh @tidal-music/tidal-web-platform
*.md @tidal-music/tidal-web-platform
*.json @tidal-music/tidal-web-platform

/packages/ @tidal-music/tidal-web-platform
/packages/auth/ @MathiasTim
/packages/event-producer @tidal-music/tidal-web-platform
/packages/player @enjikaka

Add share-code attribute to tidal-play-trigger (0.3.0).
  packages/player-web-components/CHANGELOG.md
  packages/player-web-components/demo/index.html
  packages/player-web-components/package.json
  packages/player-web-components/src/tidal-play-trigger.ts
Owners: @tidal-music/tidal-web-platform

Address Copilot review on tidal-play-trigger reload and share-code.
  packages/player-web-components/src/tidal-play-trigger.ts
Owners: @tidal-music/tidal-web-platform

Add share-code attribute to tidal-play-trigger (0.3.0) (#653)
  packages/player-web-components/CHANGELOG.md
  packages/player-web-components/demo/index.html
  packages/player-web-components/package.json
  packages/player-web-components/src/tidal-play-trigger.ts
Owners: @tidal-music/tidal-web-platform

Update Tidal API to v1.10.34 - 2 files changed
  packages/api/CHANGELOG.md
  packages/api/bin/tidal-api-oas.json
  packages/api/package.json
  packages/api/src/allAPI.generated.ts
Owners: @tidal-music/tidal-web-platform

Update Tidal API to v1.10.37 - 2 files changed
  packages/api/CHANGELOG.md
  packages/api/bin/tidal-api-oas.json
  packages/api/src/allAPI.generated.ts
Owners: @tidal-music/tidal-web-platform

Add retry mechanism to api package
  packages/api/CHANGELOG.md
  packages/api/package.json
  packages/api/src/api.test.ts
  packages/api/src/api.ts
  packages/api/src/index.ts
  packages/api/src/retry.test.ts
  packages/api/src/retry.ts
Owners: @tidal-music/tidal-web-platform

Remove previous retry wrapper in player
  packages/player/src/internal/helpers/playback-info-resolver.ts
  packages/player/src/internal/helpers/retry.test.ts
  packages/player/src/internal/helpers/retry.ts
Owners: @enjikaka

Bump player version
  packages/player/CHANGELOG.md
  packages/player/package.json
Owners: @enjikaka

Update changelog
  packages/api/CHANGELOG.md
Owners: @tidal-music/tidal-web-platform

Update comments
  packages/api/src/retry.ts
Owners: @tidal-music/tidal-web-platform

Update comments for read-only clarification
  packages/api/src/api.test.ts
  packages/api/src/api.ts
Owners: @tidal-music/tidal-web-platform

Add retry mechanism to api package (#655)
  packages/api/CHANGELOG.md
  packages/api/package.json
  packages/api/src/api.test.ts
  packages/api/src/api.ts
  packages/api/src/index.ts
  packages/api/src/retry.test.ts
  packages/api/src/retry.ts
  packages/player/CHANGELOG.md
  packages/player/package.json
  packages/player/src/internal/helpers/playback-info-resolver.ts
  packages/player/src/internal/helpers/retry.test.ts
  packages/player/src/internal/helpers/retry.ts
Owners: @tidal-music/tidal-web-platform, @enjikaka

Fix streaming metrics timestamp races
  packages/player/src/internal/handlers/load.ts
  packages/player/src/internal/helpers/playback-info-resolver.ts
  packages/player/src/internal/helpers/streaming-metrics-timestamps.ts
  packages/player/src/player/basePlayer.ts
  packages/player/src/player/nativePlayer.ts
  packages/player/src/player/shakaPlayer.ts
Owners: @enjikaka

Update Tidal API to v1.10.39 - 2 files changed
  packages/api/CHANGELOG.md
  packages/api/bin/tidal-api-oas.json
  packages/api/package.json
  packages/api/src/allAPI.generated.ts
Owners: @tidal-music/tidal-web-platform

Address streaming metrics review feedback
  packages/player/src/internal/helpers/streaming-metrics-timestamps.test.ts
  packages/player/src/internal/helpers/streaming-metrics-timestamps.ts
  packages/player/src/player/basePlayer.ts
Owners: @enjikaka

Fix streaming metrics timestamp races (#661)
  packages/player/src/internal/handlers/load.ts
  packages/player/src/internal/helpers/playback-info-resolver.ts
  packages/player/src/internal/helpers/streaming-metrics-timestamps.test.ts
  packages/player/src/internal/helpers/streaming-metrics-timestamps.ts
  packages/player/src/player/basePlayer.ts
  packages/player/src/player/nativePlayer.ts
  packages/player/src/player/shakaPlayer.ts
Owners: @enjikaka

Bump version and update changelog
  packages/player/CHANGELOG.md
  packages/player/package.json
Owners: @enjikaka

Bump version and update changelog
  packages/player/CHANGELOG.md
  packages/player/package.json
Owners: @enjikaka

Bump version and update changelog (#663)
  packages/player/CHANGELOG.md
  packages/player/package.json
Owners: @enjikaka

Update Tidal API to v1.10.40 - 2 files changed
  packages/api/CHANGELOG.md
  packages/api/bin/tidal-api-oas.json
  packages/api/package.json
  packages/api/src/allAPI.generated.ts
Owners: @tidal-music/tidal-web-platform

Update Tidal API to v1.10.42
  packages/api/CHANGELOG.md
  packages/api/bin/tidal-api-oas.json
  packages/api/package.json
  packages/api/src/allAPI.generated.ts
Owners: @tidal-music/tidal-web-platform

Update Tidal API to v1.10.42 (#665)
  packages/api/CHANGELOG.md
  packages/api/bin/tidal-api-oas.json
  packages/api/package.json
  packages/api/src/allAPI.generated.ts
Owners: @tidal-music/tidal-web-platform

Address playback_info_fetch reporting errors
  packages/player/src/internal/helpers/playback-info-resolver.test.ts
  packages/player/src/internal/helpers/playback-info-resolver.ts
Owners: @enjikaka

Update Tidal API to v1.10.43 - 2 files changed
  packages/api/CHANGELOG.md
  packages/api/bin/tidal-api-oas.json
  packages/api/package.json
  packages/api/src/allAPI.generated.ts
Owners: @tidal-music/tidal-web-platform

Update Tidal API to v1.10.43 - 2 files changed (#667)
  packages/api/CHANGELOG.md
  packages/api/bin/tidal-api-oas.json
  packages/api/package.json
  packages/api/src/allAPI.generated.ts
Owners: @tidal-music/tidal-web-platform

Update Tidal API to v1.10.44 - 2 files changed
  packages/api/CHANGELOG.md
  packages/api/bin/tidal-api-oas.json
  packages/api/package.json
  packages/api/src/allAPI.generated.ts
Owners: @tidal-music/tidal-web-platform

Automatic Tidal API module update to v1.10.44 - 2 files changed (#668)
  packages/api/CHANGELOG.md
  packages/api/bin/tidal-api-oas.json
  packages/api/package.json
  packages/api/src/allAPI.generated.ts
Owners: @tidal-music/tidal-web-platform

Update Tidal API to v1.10.47 - 2 files changed
  packages/api/CHANGELOG.md
  packages/api/bin/tidal-api-oas.json
  packages/api/package.json
  packages/api/src/allAPI.generated.ts
Owners: @tidal-music/tidal-web-platform

Update Tidal API to v1.10.47 - 2 files changed (#669)
  packages/api/CHANGELOG.md
  packages/api/bin/tidal-api-oas.json
  packages/api/package.json
  packages/api/src/allAPI.generated.ts
Owners: @tidal-music/tidal-web-platform

Update Tidal API to v1.10.49 - 2 files changed
  packages/api/CHANGELOG.md
  packages/api/bin/tidal-api-oas.json
  packages/api/package.json
  packages/api/src/allAPI.generated.ts
Owners: @tidal-music/tidal-web-platform

Update Tidal API to v1.10.51 - 2 files changed
  packages/api/CHANGELOG.md
  packages/api/bin/tidal-api-oas.json
  packages/api/src/allAPI.generated.ts
Owners: @tidal-music/tidal-web-platform

Update Tidal API to v1.10.53 - 2 files changed
  packages/api/CHANGELOG.md
  packages/api/bin/tidal-api-oas.json
  packages/api/src/allAPI.generated.ts
Owners: @tidal-music/tidal-web-platform

Update Tidal API to v1.10.54 - 2 files changed
  packages/api/CHANGELOG.md
  packages/api/bin/tidal-api-oas.json
  packages/api/src/allAPI.generated.ts
Owners: @tidal-music/tidal-web-platform

Update Tidal API to v1.10.55 - 1 files changed
  packages/api/CHANGELOG.md
  packages/api/bin/tidal-api-oas.json
Owners: @tidal-music/tidal-web-platform

Update Tidal API to v1.10.62 - 2 files changed
  packages/api/CHANGELOG.md
  packages/api/bin/tidal-api-oas.json
  packages/api/src/allAPI.generated.ts
Owners: @tidal-music/tidal-web-platform

fix(player): stop leaking native player event listeners across the contextBridge
  packages/player/CHANGELOG.md
  packages/player/src/player/nativePlayer.test.ts
  packages/player/src/player/nativePlayer.ts
Owners: @enjikaka

test(player): cover the load() event-wait cancellation path
  packages/player/src/player/nativePlayer.test.ts
  packages/player/src/player/nativePlayer.ts
Owners: @enjikaka

Update Tidal API to v1.10.65 - 2 files changed
  packages/api/CHANGELOG.md
  packages/api/bin/tidal-api-oas.json
  packages/api/src/allAPI.generated.ts
Owners: @tidal-music/tidal-web-platform

Update Tidal API to v1.10.66 - 2 files changed
  packages/api/CHANGELOG.md
  packages/api/bin/tidal-api-oas.json
  packages/api/src/allAPI.generated.ts
Owners: @tidal-music/tidal-web-platform

Update Tidal API to v1.10.67 - 2 files changed
  packages/api/CHANGELOG.md
  packages/api/bin/tidal-api-oas.json
  packages/api/src/allAPI.generated.ts
Owners: @tidal-music/tidal-web-platform
