Repository tidal-music/tidal-sdk-web, changes with the owners that .github/CODEOWNERS names for each.
All owners: @tidal-music/tidal-web-platform, @MathiasTim, @enjikaka

Bump version to 0.6.1 and update changelog for Bearer token fix
  packages/player/CHANGELOG.md
  packages/player/package.json
Owners: @enjikaka

Bump version to 0.6.1 and update changelog for Bearer token fix (#290)
  packages/player/CHANGELOG.md
  packages/player/package.json
Owners: @enjikaka

Add play_log_open (#285)
  packages/player/src/config.ts
  packages/player/src/internal/beacon/index.ts
  packages/player/src/internal/beacon/play-log.ts
  packages/player/src/internal/beacon/types.ts
  packages/player/src/internal/beacon/worker.ts
  packages/player/src/internal/constants.ts
  packages/player/src/internal/event-tracking/play-log/index.ts
  packages/player/src/internal/handlers/set-next.ts
  packages/player/src/internal/helpers/get-is-post-paywall.ts
  packages/player/src/internal/helpers/run-conditional-on-auth.ts
  packages/player/src/internal/helpers/run-if-authorized-with-user.ts
  packages/player/src/internal/index.ts
  packages/player/src/player/basePlayer.ts
Owners: @enjikaka

Bump Player version and revert unpublished Api module version
  packages/api/CHANGELOG.md
  packages/api/package.json
  packages/player/CHANGELOG.md
  packages/player/package.json
Owners: @tidal-music/tidal-web-platform, @enjikaka

Bump Player version and revert unpublished Api module version (#291)
  packages/api/CHANGELOG.md
  packages/api/package.json
  packages/player/CHANGELOG.md
  packages/player/package.json
Owners: @tidal-music/tidal-web-platform, @enjikaka

Player: Add optional `extras` attribute to MediaProduct and propagate through event tracking
  packages/player/src/api/interfaces.ts
  packages/player/src/internal/beacon/types.ts
  packages/player/src/internal/beacon/worker.ts
  packages/player/src/internal/event-tracking/play-log/index.ts
  packages/player/src/internal/event-tracking/play-log/playback-session.ts
  packages/player/src/internal/handlers/set-next.ts
  packages/player/src/internal/helpers/get-is-post-paywall.ts
  packages/player/src/player/basePlayer.ts
  packages/player/src/player/index.ts
Owners: @enjikaka

Player: Add optional `extras` attribute to MediaProduct and propagate through event tracking (#295)
  packages/player/src/api/interfaces.ts
  packages/player/src/internal/beacon/types.ts
  packages/player/src/internal/beacon/worker.ts
  packages/player/src/internal/event-tracking/play-log/index.ts
  packages/player/src/internal/event-tracking/play-log/playback-session.ts
  packages/player/src/internal/handlers/set-next.ts
  packages/player/src/internal/helpers/get-is-post-paywall.ts
  packages/player/src/player/basePlayer.ts
  packages/player/src/player/index.ts
Owners: @enjikaka

Player: Bump version to 0.7.0 and update changelog for playback events
  packages/player/CHANGELOG.md
  packages/player/package.json
Owners: @enjikaka

Player: Bump version to 0.7.0 and update changelog for playback events (#296)
  packages/player/CHANGELOG.md
  packages/player/package.json
Owners: @enjikaka

Player: Refactor event URL handling
  packages/player/src/config.ts
  packages/player/src/internal/beacon/index.ts
  packages/player/src/internal/constants.ts
  packages/player/src/internal/index.ts
Owners: @enjikaka

Player: Refactor event URL handling (#299)
  packages/player/src/config.ts
  packages/player/src/internal/beacon/index.ts
  packages/player/src/internal/constants.ts
  packages/player/src/internal/index.ts
Owners: @enjikaka

Player: Bump version to 0.7.1 and update changelog for setEventUrl fix
  packages/player/CHANGELOG.md
  packages/player/package.json
Owners: @enjikaka

Player: Bump version to 0.7.1 and update changelog for setEventUrl fix (#300)
  packages/player/CHANGELOG.md
  packages/player/package.json
Owners: @enjikaka

Temp build fix
  packages/player/src/internal/event-tracking/play-log/index.ts
  packages/player/src/internal/index.ts
Owners: @enjikaka

Player: Simplify event commit logic and remove unused imports
  packages/player/src/internal/event-tracking/index.ts
  packages/player/src/internal/event-tracking/play-log/index.ts
Owners: @enjikaka

Update event commit documentation to clarify scope as groups instead of categories
  packages/player/src/internal/event-tracking/index.ts
  packages/player/src/internal/event-tracking/play-log/index.ts
  packages/player/src/internal/event-tracking/streaming-metrics/index.ts
Owners: @enjikaka

Refactor handleUnauthenticated function to simplify event tracking logic
  packages/player/src/internal/index.ts
Owners: @enjikaka

Fix Cypress: event handling in test cases and update SDK batch interval configuration
  packages/player/cypress/e2e/play-log/case-1.cy.ts
  packages/player/cypress/e2e/play-log/case-2.cy.ts
  packages/player/cypress/helpers.ts
  packages/player/demo/helpers.js
Owners: @enjikaka

Add event producer integration and update dependencies in player-web-components (for new Player)
  packages/player-web-components/demo/app.js
  packages/player-web-components/package.json
  packages/player-web-components/src/index.ts
  pnpm-lock.yaml
Owners: @tidal-music/tidal-web-platform

Player: Bump version to 0.8.0 and update changelog for event tracking implementation
  packages/player/CHANGELOG.md
  packages/player/package.json
Owners: @enjikaka

Player: Bump version to 0.8.0 and update changelog for event tracking implementation (#301)
  packages/player/CHANGELOG.md
  packages/player/package.json
Owners: @enjikaka

Fix test script and enhance getMediaProduct tests with auth and events
  package.json
  packages/player/scripts/test.sh
  packages/player/src/internal/handlers/get-next-media-product.test.ts
Owners: @tidal-music/tidal-web-platform, @enjikaka

Make running Player tests locally more stable
  packages/player/src/internal/handlers/load.test.ts
  packages/player/src/internal/handlers/set-next.test.ts
  packages/player/web-test-runner.config.js
Owners: @enjikaka

Fix test script and enhance getMediaProduct tests with auth and events (#304)
  package.json
  packages/player/scripts/test.sh
  packages/player/src/internal/handlers/get-next-media-product.test.ts
  packages/player/src/internal/handlers/load.test.ts
  packages/player/src/internal/handlers/set-next.test.ts
  packages/player/web-test-runner.config.js
Owners: @tidal-music/tidal-web-platform, @enjikaka

Player: Update shaka-player to v4.14.10 and refactor patching mechanism; clean up README and add sourcemap support
  package.json
  packages/player/README.md
  packages/player/package.json
  packages/player/src/player/shakaPlayer.ts
  packages/player/vite.config.ts
  patches/shaka-player.patch
  pnpm-lock.yaml
Owners: @tidal-music/tidal-web-platform, @enjikaka

Bump Shaka player to latest
  packages/player/package.json
  pnpm-lock.yaml
Owners: @enjikaka

Remove shaka-player from ignored dependencies in renovate configuration
  renovate.json
Owners: @tidal-music/tidal-web-platform

Player: Update shaka-player to v4.14 (#306)
  package.json
  packages/player/README.md
  packages/player/package.json
  packages/player/src/player/shakaPlayer.ts
  packages/player/vite.config.ts
  patches/shaka-player.patch
  pnpm-lock.yaml
  renovate.json
Owners: @tidal-music/tidal-web-platform, @enjikaka

Player: update version to 0.9.0 and add changelog entry for Shaka Player update
  packages/player/CHANGELOG.md
  packages/player/package.json
Owners: @enjikaka

Player: update version to 0.9.0 and add changelog entry for Shaka Player update (#307)
  packages/player/CHANGELOG.md
  packages/player/package.json
Owners: @enjikaka

'skipLibCheck' is enabled for to work around happy-dom type issues
  tsconfig.json
Owners: @tidal-music/tidal-web-platform

Set to previous default value
  packages/player/web-test-runner.config.js
Owners: @enjikaka

Player: Bump version to 0.9.1 and update changelog for latest Shaka Player
  packages/player/CHANGELOG.md
  packages/player/package.json
Owners: @enjikaka

Player: Bump version to 0.9.1 and update changelog for latest Shaka Player (#311)
  packages/player/CHANGELOG.md
  packages/player/package.json
Owners: @enjikaka

Update shaka-player patch (now smaller!)
  patches/shaka-player.patch
  pnpm-lock.yaml
Owners: none

Update shaka-player patch and dependencies in pnpm-lock.yaml
  patches/shaka-player.patch
  pnpm-lock.yaml
Owners: none

New API module release
  packages/api/CHANGELOG.md
  packages/api/examples/api.js
  packages/api/package.json
  packages/api/src/allAPI.generated.ts
Owners: @tidal-music/tidal-web-platform

New API module release (#320)
  packages/api/CHANGELOG.md
  packages/api/examples/api.js
  packages/api/package.json
  packages/api/src/allAPI.generated.ts
Owners: @tidal-music/tidal-web-platform

Sync to new API definitions and update OAS location
  packages/api/CHANGELOG.md
  packages/api/package.json
  packages/api/redocly.yaml
  packages/api/src/allAPI.generated.ts
Owners: @tidal-music/tidal-web-platform

Sync to new API definitions and update OAS location (#326)
  packages/api/CHANGELOG.md
  packages/api/package.json
  packages/api/redocly.yaml
  packages/api/src/allAPI.generated.ts
Owners: @tidal-music/tidal-web-platform

.github/CODEOWNERS:

*.sh @tidal-music/tidal-web-platform
*.md @tidal-music/tidal-web-platform
*.json @tidal-music/tidal-web-platform

/packages/ @tidal-music/tidal-web-platform
/packages/auth/ @MathiasTim
/packages/event-producer @tidal-music/tidal-web-platform
/packages/player @enjikaka
