Repository tidal-music/tidal-sdk-web, changes with the owners that .github/CODEOWNERS names for each.
All owners: @tidal-music/tidal-web-platform, @MathiasTim, @enjikaka

PlayerWebComponents: Bump version to 0.2.0 and update changelog for latest changes
  packages/player-web-components/CHANGELOG.md
  packages/player-web-components/package.json
Owners: @tidal-music/tidal-web-platform

Player: Bump version to 0.10.1 and update changelog for release
  packages/player/CHANGELOG.md
  packages/player/package.json
Owners: @enjikaka

Player: Bump version to 0.10.1 and update changelog for release (#348)
  packages/player/CHANGELOG.md
  packages/player/package.json
Owners: @enjikaka

Fix regex for semantic version validation in build module action
  .github/actions/build-module/action.yml
Owners: none

Player: Bump version to 0.10.2 and update changelog for release
  packages/player/CHANGELOG.md
  packages/player/package.json
Owners: @enjikaka

Player: Bump version to 0.10.2 and update changelog for release (#349)
  packages/player/CHANGELOG.md
  packages/player/package.json
Owners: @enjikaka

PlayerWebComponents: Bump version to 0.2.0 and update changelog for latest changes (#347)
  packages/player-web-components/CHANGELOG.md
  packages/player-web-components/package.json
Owners: @tidal-music/tidal-web-platform

Player: Remove support for 'demo' product type across the player API and related components
  packages/player/src/api/interfaces.ts
  packages/player/src/internal/event-tracking/play-log/index.test.ts
  packages/player/src/internal/event-tracking/play-log/index.ts
  packages/player/src/internal/helpers/manifest-parser.ts
  packages/player/src/internal/helpers/playback-info-resolver.test.ts
  packages/player/src/internal/helpers/playback-info-resolver.ts
  packages/player/src/player/index.ts
  packages/player/src/player/shakaPlayer.ts
Owners: @enjikaka

Player: Update getOutputDevices function type to return an array of OutputDevice
  packages/player/src/internal/handlers/get-output-devices.ts
Owners: @enjikaka

Player: Update getOutputDevices function type to return an array of OutputDevice (#351)
  packages/player/src/internal/handlers/get-output-devices.ts
Owners: @enjikaka

Player: Remove support for 'demo' product type across the player API and related components (#350)
  packages/player/src/api/interfaces.ts
  packages/player/src/internal/event-tracking/play-log/index.test.ts
  packages/player/src/internal/event-tracking/play-log/index.ts
  packages/player/src/internal/helpers/manifest-parser.ts
  packages/player/src/internal/helpers/playback-info-resolver.test.ts
  packages/player/src/internal/helpers/playback-info-resolver.ts
  packages/player/src/player/index.ts
  packages/player/src/player/shakaPlayer.ts
Owners: @enjikaka

Player: Bump version to 0.11.0 and update changelog
  packages/player/CHANGELOG.md
  packages/player/package.json
Owners: @enjikaka

Player: Bump version to 0.11.0 and update changelog (#352)
  packages/player/CHANGELOG.md
  packages/player/package.json
Owners: @enjikaka

PlayerWebComponents: Bump version to 0.2.1 and update changelog
  packages/player-web-components/CHANGELOG.md
  packages/player-web-components/package.json
Owners: @tidal-music/tidal-web-platform

PlayerWebComponents: Bump version to 0.2.1 and update changelog (#353)
  packages/player-web-components/CHANGELOG.md
  packages/player-web-components/package.json
Owners: @tidal-music/tidal-web-platform

Update Tidal API - 2 files changed
  packages/api/bin/tidal-api-oas.json
  packages/api/src/allAPI.generated.ts
Owners: @tidal-music/tidal-web-platform

Update Tidal API - 2 files changed
  packages/api/bin/tidal-api-oas.json
  packages/api/src/allAPI.generated.ts
Owners: @tidal-music/tidal-web-platform

Update Tidal API - 2 files changed
  packages/api/bin/tidal-api-oas.json
  packages/api/src/allAPI.generated.ts
Owners: @tidal-music/tidal-web-platform

Update Tidal API - 2 files changed
  packages/api/bin/tidal-api-oas.json
  packages/api/src/allAPI.generated.ts
Owners: @tidal-music/tidal-web-platform

Update Tidal API - 2 files changed
  packages/api/bin/tidal-api-oas.json
  packages/api/src/allAPI.generated.ts
Owners: @tidal-music/tidal-web-platform

Update Tidal API - 2 files changed
  packages/api/bin/tidal-api-oas.json
  packages/api/src/allAPI.generated.ts
Owners: @tidal-music/tidal-web-platform

Update Tidal API - 2 files changed
  packages/api/bin/tidal-api-oas.json
  packages/api/src/allAPI.generated.ts
Owners: @tidal-music/tidal-web-platform

Remove more code for demo content type
  packages/player/src/internal/helpers/playback-info-resolver.ts
  packages/player/src/player/shakaPlayer.ts
Owners: @enjikaka

Remove more code for demo content type (#371)
  packages/player/src/internal/helpers/playback-info-resolver.ts
  packages/player/src/player/shakaPlayer.ts
Owners: @enjikaka

Drop legacy (TV) browser support
  packages/auth/package.json
  packages/auth/vite-legacy.config.ts
  packages/event-producer/package.json
  packages/event-producer/vite-legacy.config.ts
  packages/player/package.json
  packages/player/vite-legacy.config.ts
  pnpm-lock.yaml
Owners: @MathiasTim, @tidal-music/tidal-web-platform, @enjikaka

Drop legacy (TV) browser support (#372)
  packages/auth/package.json
  packages/auth/vite-legacy.config.ts
  packages/event-producer/package.json
  packages/event-producer/vite-legacy.config.ts
  packages/player/package.json
  packages/player/vite-legacy.config.ts
  pnpm-lock.yaml
Owners: @MathiasTim, @tidal-music/tidal-web-platform, @enjikaka

Refactor DRM handling: remove PlayReady support
  packages/player/src/internal/event-tracking/streaming-metrics/playback-statistics.ts
  packages/player/src/player/filters.ts
  packages/player/src/player/shakaPlayer.ts
Owners: @enjikaka

Refactor DRM handling: remove PlayReady support (#373)
  packages/player/src/internal/event-tracking/streaming-metrics/playback-statistics.ts
  packages/player/src/player/filters.ts
  packages/player/src/player/shakaPlayer.ts
Owners: @enjikaka

Update Tidal API - 2 files changed
  packages/api/bin/tidal-api-oas.json
  packages/api/src/allAPI.generated.ts
Owners: @tidal-music/tidal-web-platform

Enhance commit message formatting in Tidal API workflow (#375)
  .github/workflows/generate-tidal-api.yml
Owners: none

Enhance commit message formatting in Tidal API workflow (#375) (#375)
  .github/workflows/generate-tidal-api.yml
Owners: none

Update Tidal API - 2 files changed
  packages/api/bin/tidal-api-oas.json
  packages/api/src/allAPI.generated.ts
Owners: @tidal-music/tidal-web-platform

Update auth examples to use api v2
  packages/auth/README.md
  packages/auth/examples/shared.js
  packages/auth/vite.config.ts
Owners: @MathiasTim

Run eslint:fix and add eslint-disable to demo fnc
  packages/auth/examples/shared.js
Owners: @MathiasTim

Update auth examples to use api v2 (#380)
  packages/auth/README.md
  packages/auth/examples/shared.js
  packages/auth/vite.config.ts
Owners: @MathiasTim

Setup pnpm before node
  .github/workflows/generate-tidal-api.yml
Owners: none

Temporary run on push - for testing
  .github/workflows/check-tidalapi-spec.yml
Owners: none

Update Tidal API - 2 files changed
  packages/api/bin/tidal-api-oas.json
  packages/api/src/allAPI.generated.ts
Owners: @tidal-music/tidal-web-platform

Add Api spec version to PR description
  .github/workflows/generate-tidal-api.yml
Owners: none

Remove duplicate pnpm setup
  .github/workflows/generate-tidal-api.yml
Owners: none

.github/CODEOWNERS:

*.sh @tidal-music/tidal-web-platform
*.md @tidal-music/tidal-web-platform
*.json @tidal-music/tidal-web-platform

/packages/ @tidal-music/tidal-web-platform
/packages/auth/ @MathiasTim
/packages/event-producer @tidal-music/tidal-web-platform
/packages/player @enjikaka
