Repository tidal-music/tidal-sdk-web, changes with the owners that .github/CODEOWNERS names for each.
All owners: @tidal-music/tidal-web-platform, @MathiasTim, @enjikaka

.github/CODEOWNERS:

*.sh @tidal-music/tidal-web-platform
*.md @tidal-music/tidal-web-platform
*.json @tidal-music/tidal-web-platform

/packages/ @tidal-music/tidal-web-platform
/packages/auth/ @MathiasTim
/packages/event-producer @tidal-music/tidal-web-platform
/packages/player @enjikaka

test(player): enhance video playback test with timeout adjustment and additional comments
  packages/player/cypress/e2e/play-log/case-1.cy.ts
Owners: @enjikaka

fix: use working-directory + pnpm exec for cypress install
  .github/workflows/cypress.yml
Owners: none

Fix/cypress binary missing in ci (#540)
  .github/workflows/cypress.yml
Owners: none

fix: replace deprecated save-always with separate restore/save steps
  .github/workflows/cypress.yml
Owners: none

Fix/cypress binary missing in ci (#541)
  .github/workflows/cypress.yml
Owners: none

test(player): refine video playback test with timeout and assertion adjustments
  packages/player/cypress/e2e/play-log/case-1.cy.ts
  packages/player/demo/test-case-1.js
Owners: @enjikaka

Update Tidal API to v1.2.1 - 2 files changed
  packages/api/bin/tidal-api-oas.json
  packages/api/src/allAPI.generated.ts
Owners: @tidal-music/tidal-web-platform

Update Tidal API to v1.2.3 - 2 files changed
  packages/api/bin/tidal-api-oas.json
  packages/api/src/allAPI.generated.ts
Owners: @tidal-music/tidal-web-platform

fix: consolidate minimatch overrides to fix typedoc on Node 24
  package.json
  pnpm-lock.yaml
Owners: @tidal-music/tidal-web-platform

fix: consolidate minimatch overrides to fix typedoc on Node 24 (#554)
  package.json
  pnpm-lock.yaml
Owners: @tidal-music/tidal-web-platform

chore(release): bump version to 0.9.0 and update changelog for API sync to v1.2.3
  packages/api/CHANGELOG.md
  packages/api/package.json
Owners: @tidal-music/tidal-web-platform

chore(release): bump version to 0.9.0 and update changelog for API sync to v1.2.3 (#555)
  packages/api/CHANGELOG.md
  packages/api/package.json
Owners: @tidal-music/tidal-web-platform

feat(ci): auto-bump version and changelog on API spec updates
  .github/workflows/generate-tidal-api.yml
Owners: none

fix: disable npm provenance to fix publish from GitHub releases
  .github/workflows/release-to-npm.yml
Owners: none

fix: disable npm provenance to fix publish from GitHub releases (#557)
  .github/workflows/release-to-npm.yml
Owners: none

chore(release): bump version to 0.9.1 in package.json
  packages/api/package.json
Owners: @tidal-music/tidal-web-platform

feat(ci): auto-bump version and changelog on API spec updates (#556)
  .github/workflows/generate-tidal-api.yml
Owners: none

fix: Vitest extension config resolution in pnpm monorepo
  .vscode/settings.json
  package.json
  pnpm-lock.yaml
Owners: @tidal-music/tidal-web-platform

fix: Vitest extension config resolution in pnpm monorepo (#558)
  .vscode/settings.json
  package.json
  pnpm-lock.yaml
Owners: @tidal-music/tidal-web-platform

refactor: improve error handling and duration change logic in ShakaPlayer
  packages/player/src/player/shakaPlayer.ts
Owners: @enjikaka

feat(player): initialize startAssetPosition in ShakaPlayer
  packages/player/src/player/shakaPlayer.ts
Owners: @enjikaka

feat(player): add configurable transition modes (crossfade, gapless, gap)
  packages/player/cypress/e2e/play-log/case-crossfade.cy.ts
  packages/player/cypress/e2e/play-log/case-gap.cy.ts
  packages/player/demo/test-case-gapless.html
  packages/player/demo/test-case-gapless.js
  packages/player/src/api/index.ts
  packages/player/src/config.ts
  packages/player/src/internal/handlers/get-transition-mode.ts
  packages/player/src/internal/handlers/set-transition-mode.ts
  packages/player/src/player/shakaPlayer.ts
Owners: @enjikaka

fix(tests): update crossfade playback test expectations and gapless transition URL
  packages/player/cypress/e2e/play-log/case-crossfade.cy.ts
  packages/player/cypress/e2e/play-log/case-gapless.cy.ts
Owners: @enjikaka

fix(player): prevent duplicate media-product-transition during crossfade
  packages/player/src/player/shakaPlayer.ts
Owners: @enjikaka

fix(player): use setTimeout instead of requestAnimationFrame for crossfade
  packages/player/src/player/shakaPlayer.ts
Owners: @enjikaka

fix(player): prevent Chrome from suspending background crossfade playback
  packages/player/src/player/audio-context-store.ts
  packages/player/src/player/shakaPlayer.ts
Owners: @enjikaka

fix(player): update assetPosition in playback context for ShakaPlayer
  packages/player/src/player/shakaPlayer.ts
Owners: @enjikaka

refactor(player): enhance adaptation event handling and testing
  packages/player/src/player/adaptations.test.ts
  packages/player/src/player/adaptations.ts
  packages/player/src/player/shakaPlayer.ts
Owners: @enjikaka

Update Tidal API to v1.3.0 - 2 files changed
  packages/api/CHANGELOG.md
  packages/api/bin/tidal-api-oas.json
  packages/api/package.json
  packages/api/src/allAPI.generated.ts
Owners: @tidal-music/tidal-web-platform

fix(player): streamline preloaded media product transition handling
  packages/player/src/player/shakaPlayer.ts
Owners: @enjikaka

fix(player): update minimum silence gap for crossfade transitions
  packages/player/src/config.ts
  packages/player/src/internal/handlers/set-transition-mode.ts
Owners: @enjikaka

Update Tidal API to v1.4.0 - 2 files changed
  packages/api/CHANGELOG.md
  packages/api/bin/tidal-api-oas.json
  packages/api/package.json
  packages/api/src/allAPI.generated.ts
Owners: @tidal-music/tidal-web-platform

feat(ci): include changelog entry in draft release notes
  .github/workflows/create-release.yml
Owners: none

feat(ci): include changelog entry in draft release notes (#567)
  .github/workflows/create-release.yml
Owners: none

Update Tidal API to v1.4.4 - 2 files changed
  packages/api/CHANGELOG.md
  packages/api/bin/tidal-api-oas.json
  packages/api/package.json
  packages/api/src/allAPI.generated.ts
Owners: @tidal-music/tidal-web-platform

Update Tidal API to v1.4.5 - 2 files changed
  packages/api/CHANGELOG.md
  packages/api/bin/tidal-api-oas.json
  packages/api/package.json
  packages/api/src/allAPI.generated.ts
Owners: @tidal-music/tidal-web-platform

fix(deps): override flatted to 3.4.2
  package.json
  pnpm-lock.yaml
Owners: @tidal-music/tidal-web-platform

fix(deps): override flatted to 3.4.2 (#570)
  package.json
  pnpm-lock.yaml
Owners: @tidal-music/tidal-web-platform

fix(player): handle critical errors from inactive ShakaPlayer instances
  packages/player/src/player/shakaPlayer.ts
Owners: @enjikaka

fix(player): adjust preload request timing for crossfade transitions
  packages/player/src/player/basePlayer.ts
Owners: @enjikaka
