Repository tidal-music/tidal-sdk-web, changes with the owners that .github/CODEOWNERS names for each.
All owners: @tidal-music/tidal-web-platform, @MathiasTim, @enjikaka

[Player] Fix steaming-session-id linked to wrong playback info on some preloads (#214)
  packages/player/src/internal/handlers/set-next.ts
  packages/player/src/player/shakaPlayer.ts
Owners: @enjikaka

0.5.3
  packages/player/CHANGELOG.md
  packages/player/package.json
Owners: @enjikaka

0.5.3
  packages/player/CHANGELOG.md
  packages/player/package.json
Owners: @enjikaka

Add handler to get player version from the module. (#213)
  .gitignore
  packages/player/package.json
  packages/player/scripts/version-dump.sh
  packages/player/src/api/index.ts
  packages/player/src/internal/handlers/get-player-version.ts
  packages/player/vite-env.d.ts
Owners: @enjikaka

[Player] Version 0.5.3 (#215)
  packages/player/CHANGELOG.md
  packages/player/package.json
Owners: @enjikaka

Use vite plugin for getting version instead.
  packages/player/package.json
  packages/player/scripts/version-dump.sh
  packages/player/src/internal/handlers/get-player-version.ts
  packages/player/vite-env.d.ts
  packages/player/vite-legacy.config.ts
  packages/player/vite.config.ts
  pnpm-lock.yaml
Owners: @enjikaka

Devdeop
  packages/player/package.json
  pnpm-lock.yaml
Owners: @enjikaka

[Player] Fix getPlayerVersion (#216)
  packages/player/package.json
  packages/player/scripts/version-dump.sh
  packages/player/src/internal/handlers/get-player-version.ts
  packages/player/vite-env.d.ts
  packages/player/vite-legacy.config.ts
  packages/player/vite.config.ts
  pnpm-lock.yaml
Owners: @enjikaka

Make sure ready is awaited first so requests filters are available
  packages/player/src/player/fairplay-drm.ts
  packages/player/src/player/shakaPlayer.ts
Owners: @enjikaka

Make sure ready is awaited first so requests filters are available (#218)
  packages/player/src/player/fairplay-drm.ts
  packages/player/src/player/shakaPlayer.ts
Owners: @enjikaka

Bump version and update changelog for v0.5.4
  packages/player/CHANGELOG.md
  packages/player/package.json
Owners: @enjikaka

rm \n
  packages/player/CHANGELOG.md
Owners: @enjikaka

[Player] Release v0.5.4 (#219)
  packages/player/CHANGELOG.md
  packages/player/package.json
Owners: @enjikaka

Listen to correct Auth event in Player
  packages/player/src/internal/index.ts
Owners: @enjikaka

Listen to correct Auth event in Player (#220)
  packages/player/src/internal/index.ts
Owners: @enjikaka

One unified TIDAL API module
  eslint.config.js
  packages/api/CHANGELOG.md
  packages/api/README.md
  packages/api/examples/example.js
  packages/api/index.html
  packages/api/package.json
  packages/api/redocly.yaml
  packages/api/src/api.test.ts
  packages/api/src/api.ts
  packages/api/src/catalogueAPI.generated.ts
  packages/api/src/index.ts
  packages/api/src/playlistAPI.generated.ts
  packages/api/src/searchAPI.generated.ts
  packages/api/src/userAPI.generated.ts
  packages/api/src/vite-env.d.ts
  packages/api/tsconfig.build.json
  packages/api/tsconfig.json
  packages/api/typedoc.json
  packages/api/vite.config.ts
  pnpm-lock.yaml
Owners: @tidal-music/tidal-web-platform

One unified TIDAL API module (#221)
  eslint.config.js
  packages/api/CHANGELOG.md
  packages/api/README.md
  packages/api/examples/example.js
  packages/api/index.html
  packages/api/package.json
  packages/api/redocly.yaml
  packages/api/src/api.test.ts
  packages/api/src/api.ts
  packages/api/src/catalogueAPI.generated.ts
  packages/api/src/index.ts
  packages/api/src/playlistAPI.generated.ts
  packages/api/src/searchAPI.generated.ts
  packages/api/src/userAPI.generated.ts
  packages/api/src/vite-env.d.ts
  packages/api/tsconfig.build.json
  packages/api/tsconfig.json
  packages/api/typedoc.json
  packages/api/vite.config.ts
  pnpm-lock.yaml
Owners: @tidal-music/tidal-web-platform

Update linter and config
  eslint.config.js
  package.json
  pnpm-lock.yaml
  tsconfig.eslint.json
Owners: @tidal-music/tidal-web-platform

Mostly auto-fixed
  packages/auth/src/auth/auth.ts
  packages/auth/src/index.ts
  packages/auth/src/storage/storage.ts
  packages/auth/src/storage/storageUtils.test.ts
  packages/auth/src/storage/storageUtils.ts
  packages/auth/src/types.ts
  packages/common/src/index.ts
  packages/event-producer/src/monitor/monitor.test.ts
  packages/event-producer/src/queue/worker.ts
  packages/player/src/index.ts
  packages/player/src/internal/beacon/streaming-metrics.ts
  packages/player/src/internal/beacon/worker.ts
  packages/player/src/internal/event-tracking/streaming-metrics/playback-statistics.ts
  packages/player/src/internal/handlers/set-api-url.ts
  packages/player/src/internal/handlers/set-event-url.ts
  packages/player/src/internal/handlers/set-next.ts
  packages/player/src/internal/helpers/manifest-parser.ts
  packages/player/src/internal/helpers/playback-info-resolver.test.ts
  packages/player/src/internal/helpers/playback-info-resolver.ts
  packages/player/src/internal/helpers/reducer.ts
  packages/player/src/internal/helpers/string-similarity.ts
  packages/player/src/internal/index.ts
  packages/player/src/internal/output-devices.test.ts
  packages/player/src/internal/output-devices.ts
  packages/player/src/internal/services/connection-handler.ts
  packages/player/src/player/adaptations.test.ts
  packages/player/src/player/basePlayer.ts
  packages/player/src/player/browserPlayer.ts
  packages/player/src/player/filters.ts
  packages/player/src/player/index.ts
  packages/player/src/player/nativePlayer.ts
  packages/player/src/player/shakaPlayer.ts
  packages/player/src/test-helpers.ts
  packages/playlist/examples/example.js
Owners: @MathiasTim, @tidal-music/tidal-web-platform, @enjikaka

Manual fixes/ignores
  packages/player/src/internal/beacon/index.test.ts
  packages/player/src/internal/beacon/index.ts
  packages/player/src/internal/helpers/playback-info-resolver.ts
  packages/player/src/internal/helpers/run-if-authorized-with-user.ts
  packages/player/src/internal/helpers/wait-for-players.ts
  packages/player/src/internal/helpers/workerize.ts
  packages/player/src/internal/output-devices.ts
  packages/player/src/player/adaptations.ts
  packages/player/src/player/browserPlayer.ts
  packages/player/src/player/fairplay-drm.ts
  packages/player/src/player/nativePlayer.ts
  packages/player/src/player/shakaPlayer.ts
Owners: @enjikaka

More auto-fixes
  packages/player-web-components/src/tidal-play-trigger.ts
  packages/search/examples/example.js
  packages/user/examples/example.js
Owners: @tidal-music/tidal-web-platform

Fix duration of song in test, maybe it has been redelivered?
  packages/player/cypress/e2e/play-log/case-2.cy.ts
Owners: @enjikaka

Try to force Cypress to install if not restored from cache
  .github/workflows/cypress.yml
Owners: none

Try another way
  .github/workflows/cypress.yml
Owners: none

Try in root folder
  .github/workflows/cypress.yml
Owners: none

Try updating Cypress instead
  .github/workflows/cypress.yml
  packages/player/package.json
  pnpm-lock.yaml
Owners: @enjikaka

A bit more flexible on time in test, as it keeps failing
  packages/player/cypress/e2e/play-log/case-2.cy.ts
Owners: @enjikaka

Bump a dependency to invalidate the cache
  package.json
  pnpm-lock.yaml
Owners: @tidal-music/tidal-web-platform

Revert `vitest` to get other updates in
  package.json
  packages/api/package.json
  packages/auth/package.json
  packages/common/package.json
  packages/event-producer/package.json
  packages/player-web-components/package.json
  packages/player/package.json
  packages/template/package.json
  packages/true-time/package.json
  pnpm-lock.yaml
Owners: @tidal-music/tidal-web-platform, @MathiasTim, @enjikaka

Partially convince Vitest, Chai and Player to get along
  .npmrc
  package.json
  packages/api/package.json
  packages/auth/package.json
  packages/common/package.json
  packages/event-producer/package.json
  packages/player-web-components/package.json
  packages/player/package.json
  packages/template/package.json
  packages/true-time/package.json
  pnpm-lock.yaml
Owners: @tidal-music/tidal-web-platform, @MathiasTim, @enjikaka

Partially convince Vitest, Chai and Player to get along (#228)
  .npmrc
  package.json
  packages/api/package.json
  packages/auth/package.json
  packages/common/package.json
  packages/event-producer/package.json
  packages/player-web-components/package.json
  packages/player/package.json
  packages/template/package.json
  packages/true-time/package.json
  pnpm-lock.yaml
Owners: @tidal-music/tidal-web-platform, @MathiasTim, @enjikaka

Update README.md
  packages/auth/README.md
Owners: @MathiasTim

fix runauth
  packages/player/src/internal/event-tracking/play-log/index.ts
  packages/player/src/internal/event-tracking/streaming-metrics/index.ts
Owners: @enjikaka

lockfile update
  pnpm-lock.yaml
Owners: none

sort imports
  packages/common/src/index.ts
Owners: @tidal-music/tidal-web-platform

Add handler for get next media product
  packages/player/src/api/index.ts
  packages/player/src/internal/handlers/get-media-product.test.ts
  packages/player/src/internal/handlers/get-next-media-product.test.ts
  packages/player/src/internal/handlers/get-next-media-product.ts
Owners: @enjikaka

Add handler for get next media product (#237)
  packages/player/src/api/index.ts
  packages/player/src/internal/handlers/get-media-product.test.ts
  packages/player/src/internal/handlers/get-next-media-product.test.ts
  packages/player/src/internal/handlers/get-next-media-product.ts
Owners: @enjikaka

Document how to use API module in Node.js
  packages/api/README.md
  packages/auth/README.md
  packages/player/README.md
Owners: @tidal-music/tidal-web-platform, @MathiasTim, @enjikaka

Document how to use API module in Node.js (#238)
  packages/api/README.md
  packages/auth/README.md
  packages/player/README.md
Owners: @tidal-music/tidal-web-platform, @MathiasTim, @enjikaka

Trigger a rebuild
  packages/event-producer/src/bus.ts
Owners: @tidal-music/tidal-web-platform

.github/CODEOWNERS:

*.sh @tidal-music/tidal-web-platform
*.md @tidal-music/tidal-web-platform
*.json @tidal-music/tidal-web-platform

/packages/ @tidal-music/tidal-web-platform
/packages/auth/ @MathiasTim
/packages/event-producer @tidal-music/tidal-web-platform
/packages/player @enjikaka
