Repository tidal-music/tidal-sdk-web, changes with the owners that .github/CODEOWNERS names for each.
All owners: @tidal-music/tidal-web-platform, @MathiasTim, @enjikaka

fix(player): bound durationchange wait in next() with 3s fallback
  packages/player/src/player/shakaPlayer.ts
Owners: @enjikaka

docs(player): fix grammar in Safari event comments
  packages/player/src/player/shakaPlayer.ts
Owners: @enjikaka

fix(player): guard dispatchAuthorized against stale provider; dedupe adaptation guard
  packages/player/src/internal/index.ts
  packages/player/src/player/adaptations.ts
Owners: @enjikaka

fix(player): honour live volume changes during crossfade
  packages/player/src/player/shakaPlayer.ts
Owners: @enjikaka

fix(player): broaden debug-log token redaction
  packages/player/src/player/basePlayer.ts
Owners: @enjikaka

refactor(player): explicit event typing in shaka event handlers
  packages/player/src/player/shakaPlayer.ts
Owners: @enjikaka

fix(player): avoid tight setTimeout loop in #scheduleCrossfadeTrigger when paused
  packages/player/src/player/shakaPlayer.ts
Owners: @enjikaka

Update Tidal API to v1.9.3 - 2 files changed
  packages/api/CHANGELOG.md
  packages/api/bin/tidal-api-oas.json
  packages/api/src/allAPI.generated.ts
Owners: @tidal-music/tidal-web-platform

fix(player): redact query strings from URL-like debug log strings
  packages/player/src/player/basePlayer.ts
Owners: @enjikaka

Player: Crossfade and (almost) gapless (#492)
  packages/player/CHANGELOG.md
  packages/player/cypress/e2e/play-log/case-crossfade.cy.ts
  packages/player/cypress/e2e/play-log/case-gapless.cy.ts
  packages/player/demo/helpers.js
  packages/player/demo/test-case-gapless.html
  packages/player/demo/test-case-gapless.js
  packages/player/src/api/index.ts
  packages/player/src/config.ts
  packages/player/src/internal/handlers/get-transition-mode.test.ts
  packages/player/src/internal/handlers/get-transition-mode.ts
  packages/player/src/internal/handlers/set-transition-mode.test.ts
  packages/player/src/internal/handlers/set-transition-mode.ts
  packages/player/src/internal/index.ts
  packages/player/src/player/adaptations.test.ts
  packages/player/src/player/adaptations.ts
  packages/player/src/player/audio-context-store.ts
  packages/player/src/player/basePlayer.ts
  packages/player/src/player/shakaPlayer.ts
  packages/player/vite.config.ts
Owners: @enjikaka

chore(player): release 0.18.0
  packages/player/CHANGELOG.md
  packages/player/package.json
Owners: @enjikaka

chore(player): note Shaka 5.1.3 bump in 0.18.0 changelog
  packages/player/CHANGELOG.md
Owners: @enjikaka

chore(player): release 0.18.0 (#630)
  packages/player/CHANGELOG.md
  packages/player/package.json
Owners: @enjikaka

chore: add allowBuilds configuration for cypress, esbuild, and unrs-resolver in pnpm workspace
  pnpm-workspace.yaml
Owners: none

Update Tidal API to v1.9.4 - 2 files changed
  packages/api/CHANGELOG.md
  packages/api/bin/tidal-api-oas.json
  packages/api/package.json
  packages/api/src/allAPI.generated.ts
Owners: @tidal-music/tidal-web-platform

fix(ci): release-trigger drops all but last package on multi-bump PRs
  .github/workflows/check-changelog-files.yml
  .github/workflows/trigger-releases.yml
Owners: none

fix(ci): release-trigger drops all but last package on multi-bump PRs (#635)
  .github/workflows/check-changelog-files.yml
  .github/workflows/trigger-releases.yml
Owners: none

chore(common,true-time): enable isolatedDeclarations for build emit
  packages/common/package.json
  packages/common/tsconfig.build.json
  packages/true-time/package.json
  packages/true-time/src/index.ts
  packages/true-time/tsconfig.build.json
Owners: @tidal-music/tidal-web-platform

chore(common,true-time): enable isolatedDeclarations for build emit (#636)
  packages/common/package.json
  packages/common/tsconfig.build.json
  packages/true-time/package.json
  packages/true-time/src/index.ts
  packages/true-time/tsconfig.build.json
Owners: @tidal-music/tidal-web-platform

Update Tidal API to v1.9.5 - 1 files changed
  packages/api/CHANGELOG.md
  packages/api/bin/tidal-api-oas.json
Owners: @tidal-music/tidal-web-platform

Update Tidal API to v1.10.3 - 2 files changed
  packages/api/CHANGELOG.md
  packages/api/bin/tidal-api-oas.json
  packages/api/package.json
  packages/api/src/allAPI.generated.ts
Owners: @tidal-music/tidal-web-platform

Update Tidal API to v1.10.7 - 2 files changed
  packages/api/CHANGELOG.md
  packages/api/bin/tidal-api-oas.json
  packages/api/src/allAPI.generated.ts
Owners: @tidal-music/tidal-web-platform

fix(player): use v2 trackManifests API for all authenticated track requests
  packages/player/src/internal/helpers/playback-info-resolver.test.ts
  packages/player/src/internal/helpers/playback-info-resolver.ts
Owners: @enjikaka

Update Tidal API to v1.10.9 - 2 files changed
  packages/api/CHANGELOG.md
  packages/api/bin/tidal-api-oas.json
  packages/api/src/allAPI.generated.ts
Owners: @tidal-music/tidal-web-platform

Update Tidal API to v1.10.14 - 2 files changed
  packages/api/CHANGELOG.md
  packages/api/bin/tidal-api-oas.json
  packages/api/src/allAPI.generated.ts
Owners: @tidal-music/tidal-web-platform

chore(deps): align renovate cool-off with pnpm minimumReleaseAge
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  renovate.json
Owners: @tidal-music/tidal-web-platform

chore(deps): align renovate cool-off with pnpm minimumReleaseAge (#641)
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  renovate.json
Owners: @tidal-music/tidal-web-platform

fix(event-producer): time out & abort batch POST so blocked telemetry can't stall the host app
  packages/event-producer/CHANGELOG.md
  packages/event-producer/package.json
  packages/event-producer/src/submit/submit.test.ts
  packages/event-producer/src/submit/submit.ts
Owners: @tidal-music/tidal-web-platform

fix(event-producer): bump submit timeout from 5s to 10s
  packages/event-producer/CHANGELOG.md
  packages/event-producer/src/submit/submit.ts
Owners: @tidal-music/tidal-web-platform

Update Tidal API to v1.10.16 - 2 files changed
  packages/api/CHANGELOG.md
  packages/api/bin/tidal-api-oas.json
  packages/api/src/allAPI.generated.ts
Owners: @tidal-music/tidal-web-platform

Update Tidal API to v1.10.17 - 2 files changed
  packages/api/CHANGELOG.md
  packages/api/bin/tidal-api-oas.json
  packages/api/src/allAPI.generated.ts
Owners: @tidal-music/tidal-web-platform

Update Tidal API to v1.10.20 - 2 files changed
  packages/api/CHANGELOG.md
  packages/api/bin/tidal-api-oas.json
  packages/api/src/allAPI.generated.ts
Owners: @tidal-music/tidal-web-platform

Update Tidal API to v1.10.23 - 2 files changed
  packages/api/CHANGELOG.md
  packages/api/bin/tidal-api-oas.json
  packages/api/src/allAPI.generated.ts
Owners: @tidal-music/tidal-web-platform

Update Tidal API to v1.10.25 - 2 files changed
  packages/api/CHANGELOG.md
  packages/api/bin/tidal-api-oas.json
  packages/api/src/allAPI.generated.ts
Owners: @tidal-music/tidal-web-platform

Update Tidal API to v1.10.26 - 2 files changed
  packages/api/CHANGELOG.md
  packages/api/bin/tidal-api-oas.json
  packages/api/src/allAPI.generated.ts
Owners: @tidal-music/tidal-web-platform

Update Tidal API to v1.10.28 - 2 files changed
  packages/api/CHANGELOG.md
  packages/api/bin/tidal-api-oas.json
  packages/api/package.json
  packages/api/src/allAPI.generated.ts
Owners: @tidal-music/tidal-web-platform

Update Tidal API to v1.10.32 - 2 files changed
  packages/api/CHANGELOG.md
  packages/api/bin/tidal-api-oas.json
  packages/api/src/allAPI.generated.ts
Owners: @tidal-music/tidal-web-platform

fix(event-producer): abort batch POST after 10s so blocked telemetry can't stall the host app (#642)
  packages/event-producer/CHANGELOG.md
  packages/event-producer/package.json
  packages/event-producer/src/submit/submit.test.ts
  packages/event-producer/src/submit/submit.ts
Owners: @tidal-music/tidal-web-platform

Update Tidal API to v1.10.33 - 2 files changed
  packages/api/CHANGELOG.md
  packages/api/bin/tidal-api-oas.json
  packages/api/package.json
  packages/api/src/allAPI.generated.ts
Owners: @tidal-music/tidal-web-platform

Update Tidal API to v1.10.33 - 2 files changed
  packages/api/CHANGELOG.md
  packages/api/bin/tidal-api-oas.json
  packages/api/src/allAPI.generated.ts
Owners: @tidal-music/tidal-web-platform

.github/CODEOWNERS:

*.sh @tidal-music/tidal-web-platform
*.md @tidal-music/tidal-web-platform
*.json @tidal-music/tidal-web-platform

/packages/ @tidal-music/tidal-web-platform
/packages/auth/ @MathiasTim
/packages/event-producer @tidal-music/tidal-web-platform
/packages/player @enjikaka
