Repository tidal-music/tidal-sdk-web, changes with the owners that .github/CODEOWNERS names for each.
All owners: @tidal-music/tidal-web-platform, @MathiasTim, @enjikaka

.github/CODEOWNERS:

*.sh @tidal-music/tidal-web-platform
*.md @tidal-music/tidal-web-platform
*.json @tidal-music/tidal-web-platform

/packages/ @tidal-music/tidal-web-platform
/packages/auth/ @MathiasTim
/packages/event-producer @tidal-music/tidal-web-platform
/packages/player @enjikaka

updated the change log
  packages/player/CHANGELOG.md
  packages/player/package.json
Owners: @enjikaka

Fix EventEmitter listener leak in nativeEvent() and mediaStateChange()
  packages/player/src/player/nativeInterface.ts
  packages/player/src/player/nativePlayer.ts
Owners: @enjikaka

Fix lint: sort removeEventListener alphabetically in interface
  packages/player/src/player/nativeInterface.ts
Owners: @enjikaka

Fix EventEmitter listener leak in native player (#510)
  packages/player/src/player/nativeInterface.ts
  packages/player/src/player/nativePlayer.ts
Owners: @enjikaka

Update Tidal API to v1.1.25 - 2 files changed
  packages/api/bin/tidal-api-oas.json
  packages/api/src/allAPI.generated.ts
Owners: @tidal-music/tidal-web-platform

feat: piped through the preview reason (#509)
  packages/player/CHANGELOG.md
  packages/player/package.json
  packages/player/src/api/interfaces.ts
  packages/player/src/internal/helpers/compose-playback-context.test.ts
  packages/player/src/internal/helpers/compose-playback-context.ts
  packages/player/src/internal/helpers/playback-info-resolver.ts
  packages/player/src/internal/types.ts
Owners: @enjikaka

Update Tidal API to v1.1.32 - 2 files changed
  packages/api/bin/tidal-api-oas.json
  packages/api/src/allAPI.generated.ts
Owners: @tidal-music/tidal-web-platform

Update Tidal API to v1.1.34 - 2 files changed
  packages/api/bin/tidal-api-oas.json
  packages/api/src/allAPI.generated.ts
Owners: @tidal-music/tidal-web-platform

chore: update ESLint configuration and dependencies
  eslint.config.js
  package.json
  packages/api/examples/api.js
  packages/auth/src/auth/auth.test.ts
  packages/auth/src/auth/auth.ts
  packages/auth/src/storage/storage.test.ts
  packages/player-web-components/src/helpers.ts
  packages/player-web-components/src/tidal-play-trigger.ts
  packages/player-web-components/src/tidal-progress-bar.ts
  packages/player/src/api/interfaces.ts
  packages/player/src/index.ts
  packages/player/src/internal/event-tracking/streaming-metrics/drm-license-fetch.ts
  packages/player/src/internal/event-tracking/streaming-metrics/playback-info-fetch.ts
  packages/player/src/internal/event-tracking/streaming-metrics/playback-statistics.ts
  packages/player/src/internal/event-tracking/streaming-metrics/streaming-session-start.ts
  packages/player/src/internal/handlers/load.ts
  packages/player/src/internal/handlers/set-next.ts
  packages/player/src/internal/helpers/playback-info-resolver.ts
  packages/player/src/internal/index.ts
  packages/player/src/internal/output-devices.ts
  packages/player/src/internal/services/pushkin.ts
  packages/player/src/player/adaptations.ts
  packages/player/src/player/audio-context-store.ts
  packages/player/src/player/basePlayer.ts
  packages/player/src/player/browserPlayer.ts
  packages/player/src/player/index.ts
  packages/player/src/player/nativeInterface.ts
  packages/player/src/player/nativePlayer.ts
  packages/player/src/player/shakaPlayer.ts
  packages/player/src/player/stalls.ts
  pnpm-lock.yaml
Owners: @tidal-music/tidal-web-platform, @MathiasTim, @enjikaka

Deterministic 403 recovery for native player
  packages/player/CHANGELOG.md
  packages/player/package.json
  packages/player/src/player/nativePlayer.test.ts
  packages/player/src/player/nativePlayer.ts
Owners: @enjikaka

fix: improve player state comparison logic
  packages/player/src/internal/handlers/set-next.ts
Owners: @enjikaka

chore: update ESLint configuration and dependencies (#521)
  eslint.config.js
  package.json
  packages/api/examples/api.js
  packages/auth/src/auth/auth.test.ts
  packages/auth/src/auth/auth.ts
  packages/auth/src/storage/storage.test.ts
  packages/player-web-components/src/helpers.ts
  packages/player-web-components/src/tidal-play-trigger.ts
  packages/player-web-components/src/tidal-progress-bar.ts
  packages/player/src/api/interfaces.ts
  packages/player/src/index.ts
  packages/player/src/internal/event-tracking/streaming-metrics/drm-license-fetch.ts
  packages/player/src/internal/event-tracking/streaming-metrics/playback-info-fetch.ts
  packages/player/src/internal/event-tracking/streaming-metrics/playback-statistics.ts
  packages/player/src/internal/event-tracking/streaming-metrics/streaming-session-start.ts
  packages/player/src/internal/handlers/load.ts
  packages/player/src/internal/handlers/set-next.ts
  packages/player/src/internal/helpers/playback-info-resolver.ts
  packages/player/src/internal/index.ts
  packages/player/src/internal/output-devices.ts
  packages/player/src/internal/services/pushkin.ts
  packages/player/src/player/adaptations.ts
  packages/player/src/player/audio-context-store.ts
  packages/player/src/player/basePlayer.ts
  packages/player/src/player/browserPlayer.ts
  packages/player/src/player/index.ts
  packages/player/src/player/nativeInterface.ts
  packages/player/src/player/nativePlayer.ts
  packages/player/src/player/shakaPlayer.ts
  packages/player/src/player/stalls.ts
  pnpm-lock.yaml
Owners: @tidal-music/tidal-web-platform, @MathiasTim, @enjikaka

Update Tidal API to v1.1.49 - 2 files changed
  packages/api/bin/tidal-api-oas.json
  packages/api/src/allAPI.generated.ts
Owners: @tidal-music/tidal-web-platform

Update Tidal API to v1.1.51 - 2 files changed
  packages/api/bin/tidal-api-oas.json
  packages/api/src/allAPI.generated.ts
Owners: @tidal-music/tidal-web-platform

fix: persist Cypress binary cache even when tests fail (#226)
  .github/workflows/cypress.yml
Owners: none

fix: persist Cypress binary cache even when tests fail (#226) (#526)
  .github/workflows/cypress.yml
Owners: none

Update FOSSA scan workflow to trigger on main branch and dependency file changes
  .github/workflows/fossa-scan.yml
Owners: none

fix: harden GitHub Actions against shell injection and pin third-party actions
  .github/actions/build-module/action.yml
  .github/actions/setup/action.yml
  .github/workflows/check-changelog-files.yml
  .github/workflows/check-tidalapi-spec.yml
  .github/workflows/create-release.yml
  .github/workflows/cypress.yml
  .github/workflows/generate-tidal-api.yml
  .github/workflows/trigger-releases.yml
Owners: none

Update FOSSA scan workflow to trigger on main branch and dependency file changes (#527)
  .github/workflows/fossa-scan.yml
Owners: none

fix: move remaining ${{ }} interpolations in cypress.yml to env
  .github/workflows/cypress.yml
Owners: none

fix: use newline separator and while-read loop for changed files iteration
  .github/workflows/check-changelog-files.yml
  .github/workflows/trigger-releases.yml
Owners: none

fix: use printf instead of echo for base64 encoding in cypress workflow
  .github/workflows/cypress.yml
Owners: none

fix: remove useless cat in create-release workflow
  .github/workflows/create-release.yml
Owners: none

fix: harden GitHub Actions against shell injection and pin third-party actions (#528)
  .github/actions/build-module/action.yml
  .github/actions/setup/action.yml
  .github/workflows/check-changelog-files.yml
  .github/workflows/check-tidalapi-spec.yml
  .github/workflows/create-release.yml
  .github/workflows/cypress.yml
  .github/workflows/generate-tidal-api.yml
  .github/workflows/trigger-releases.yml
Owners: none

fix(deps): patch transitive dependency security vulnerabilities
  package.json
  pnpm-lock.yaml
Owners: @tidal-music/tidal-web-platform

fix(deps): patch transitive dependency security vulnerabilities (#533)
  package.json
  pnpm-lock.yaml
Owners: @tidal-music/tidal-web-platform

fix(deps): patch transitive dependency security vulnerabilities
  package.json
  pnpm-lock.yaml
Owners: @tidal-music/tidal-web-platform

fix(deps): patch remaining transitive dependency vulnerabilities
  package.json
  pnpm-lock.yaml
Owners: @tidal-music/tidal-web-platform

fix(deps): patch remaining transitive dependency vulnerabilities (#534)
  package.json
  pnpm-lock.yaml
Owners: @tidal-music/tidal-web-platform

Update Tidal API to v1.1.52 - 2 files changed
  packages/api/bin/tidal-api-oas.json
  packages/api/src/allAPI.generated.ts
Owners: @tidal-music/tidal-web-platform

fix(player): add retry with exponential backoff for trackManifests API
  packages/player/src/internal/helpers/playback-info-resolver.ts
  packages/player/src/internal/helpers/retry.test.ts
  packages/player/src/internal/helpers/retry.ts
Owners: @enjikaka

fix(player): add retry with exponential backoff for trackManifests API (#536)
  packages/player/src/internal/helpers/playback-info-resolver.ts
  packages/player/src/internal/helpers/retry.test.ts
  packages/player/src/internal/helpers/retry.ts
Owners: @enjikaka

chore(release): update to version 0.15.0 and enhance CHANGELOG
  packages/player/CHANGELOG.md
  packages/player/package.json
Owners: @enjikaka

chore(release): update to version 0.15.0 and enhance CHANGELOG (#537)
  packages/player/CHANGELOG.md
  packages/player/package.json
Owners: @enjikaka

fix: use --jsonargs in changelog check workflow to fix JSON deserialization
  .github/workflows/check-changelog-files.yml
Owners: none

fix: use --jsonargs in changelog check workflow to fix JSON deserialization (#538)
  .github/workflows/check-changelog-files.yml
Owners: none

refactor: simplify FOSSA scan workflow triggers and fix typo in pull request workflow
  .github/workflows/fossa-scan.yml
  .github/workflows/pull-request.yml
Owners: none

refactor(player): update FairPlay utility references to use shaka.drm namespace
  packages/player/src/internal/helpers/playback-info-resolver.ts
  packages/player/src/player/shakaPlayer.ts
Owners: @enjikaka

fix: ensure Cypress binary exists before running tests (#226)
  .github/workflows/cypress.yml
Owners: none

fix: ensure Cypress binary exists before running tests (#226) (#539)
  .github/workflows/cypress.yml
Owners: none
