Repository tidal-music/tidal-sdk-web, changes with the owners that .github/CODEOWNERS names for each.
All owners: @tidal-music/tidal-web-platform, @MathiasTim, @enjikaka

fix(player): guard maybeSwitchPlayerOnEnd when preloadPlayer is undefined (#702)
  packages/player/src/player/index.test.ts
  packages/player/src/player/index.ts
Owners: @enjikaka

Update Tidal API to v1.10.100 - 2 files changed
  packages/api/CHANGELOG.md
  packages/api/bin/tidal-api-oas.json
  packages/api/package.json
  packages/api/src/allAPI.generated.ts
Owners: @tidal-music/tidal-web-platform

ci: switch from pnpm/action-setup to its successor pnpm/setup
  .github/actions/setup/action.yml
  .github/workflows/generate-tidal-api.yml
Owners: none

ci: switch from pnpm/action-setup to its successor pnpm/setup (#715)
  .github/actions/setup/action.yml
  .github/workflows/generate-tidal-api.yml
Owners: none

test: include actions payload in play-log length assertion messages
  packages/player/cypress/e2e/play-log/case-1.cy.ts
  packages/player/cypress/e2e/play-log/case-2.cy.ts
Owners: @enjikaka

fix(player): only log play-log seek actions for SDK-initiated seeks
  packages/player/src/player/shakaPlayer.ts
Owners: @enjikaka

chore(player): release 0.20.0
  packages/player/CHANGELOG.md
  packages/player/package.json
Owners: @enjikaka

chore(player): release 0.20.0 (#716)
  packages/player/CHANGELOG.md
  packages/player/package.json
Owners: @enjikaka

Update Tidal API to v1.10.101 - 2 files changed
  packages/api/CHANGELOG.md
  packages/api/bin/tidal-api-oas.json
  packages/api/package.json
  packages/api/src/allAPI.generated.ts
Owners: @tidal-music/tidal-web-platform

fix(auth): clear the user session before announcing a logout
  packages/auth/src/auth/auth.test.ts
  packages/auth/src/auth/auth.ts
Owners: @MathiasTim

fix(api): fail before the request when the provider has no token
  packages/api/src/api.test.ts
  packages/api/src/api.ts
Owners: @tidal-music/tidal-web-platform

fix(player): treat a provider without credentials as unauthenticated
  packages/player/src/internal/credentials-provider-store.test.ts
  packages/player/src/internal/index.ts
Owners: @enjikaka

docs(auth): fix subject agreement in the logout doc comment
  packages/auth/src/auth/auth.ts
Owners: @MathiasTim

fix(auth): drop token responses that arrive after a logout
  packages/auth/src/auth/auth.test.ts
  packages/auth/src/auth/auth.ts
Owners: @MathiasTim

fix(auth): undo a token write that a logout raced
  packages/auth/src/auth/auth.test.ts
  packages/auth/src/auth/auth.ts
Owners: @MathiasTim

fix(auth): drop token responses that arrive after a logout (#719)
  packages/auth/src/auth/auth.test.ts
  packages/auth/src/auth/auth.ts
Owners: @MathiasTim

fix(auth): clear the user session before announcing a logout (#718)
  packages/api/src/api.test.ts
  packages/api/src/api.ts
  packages/auth/src/auth/auth.test.ts
  packages/auth/src/auth/auth.ts
  packages/player/src/internal/credentials-provider-store.test.ts
  packages/player/src/internal/index.ts
Owners: @tidal-music/tidal-web-platform, @MathiasTim, @enjikaka

Update Tidal API to v1.10.103 - 2 files changed
  packages/api/CHANGELOG.md
  packages/api/bin/tidal-api-oas.json
  packages/api/src/allAPI.generated.ts
Owners: @tidal-music/tidal-web-platform

chore(api): sync to Tidal API v1.10.104
  packages/api/CHANGELOG.md
  packages/api/bin/tidal-api-oas.json
  packages/api/package.json
  packages/api/src/allAPI.generated.ts
Owners: @tidal-music/tidal-web-platform

Update Tidal API to v1.10.104 - 2 files changed
  packages/api/CHANGELOG.md
  packages/api/bin/tidal-api-oas.json
  packages/api/src/allAPI.generated.ts
Owners: @tidal-music/tidal-web-platform

chore(release): auth 1.6.2, player 0.20.1
  packages/api/CHANGELOG.md
  packages/auth/CHANGELOG.md
  packages/auth/package.json
  packages/player/CHANGELOG.md
  packages/player/package.json
Owners: @tidal-music/tidal-web-platform, @MathiasTim, @enjikaka

docs(player): correct what the 0.20.1 note claims still runs
  packages/player/CHANGELOG.md
Owners: @enjikaka

docs(auth): scope the 1.6.2 storage guarantee to the default backend
  packages/auth/CHANGELOG.md
Owners: @MathiasTim

chore(release): auth 1.6.2, player 0.20.1 (#721)
  packages/api/CHANGELOG.md
  packages/auth/CHANGELOG.md
  packages/auth/package.json
  packages/player/CHANGELOG.md
  packages/player/package.json
Owners: @tidal-music/tidal-web-platform, @MathiasTim, @enjikaka

Update Tidal API to v1.10.105 - 2 files changed
  packages/api/CHANGELOG.md
  packages/api/bin/tidal-api-oas.json
  packages/api/package.json
  packages/api/src/allAPI.generated.ts
Owners: @tidal-music/tidal-web-platform

Update Tidal API to v1.10.106 - 2 files changed
  packages/api/CHANGELOG.md
  packages/api/bin/tidal-api-oas.json
  packages/api/src/allAPI.generated.ts
Owners: @tidal-music/tidal-web-platform

Update Tidal API to v1.10.110 - 2 files changed
  packages/api/CHANGELOG.md
  packages/api/bin/tidal-api-oas.json
  packages/api/src/allAPI.generated.ts
Owners: @tidal-music/tidal-web-platform

Update Tidal API to v1.10.114 - 2 files changed
  packages/api/CHANGELOG.md
  packages/api/bin/tidal-api-oas.json
  packages/api/src/allAPI.generated.ts
Owners: @tidal-music/tidal-web-platform

Update Tidal API to v1.10.115 - 2 files changed
  packages/api/CHANGELOG.md
  packages/api/bin/tidal-api-oas.json
  packages/api/src/allAPI.generated.ts
Owners: @tidal-music/tidal-web-platform

fix: keep TypeScript 6 API alongside native TypeScript 7
  package.json
  packages/api/package.json
  packages/auth/package.json
  packages/common/package.json
  packages/event-producer/package.json
  packages/player-web-components/package.json
  packages/player/package.json
  packages/template/package.json
  packages/true-time/package.json
  pnpm-lock.yaml
Owners: @tidal-music/tidal-web-platform, @MathiasTim, @enjikaka

Update Tidal API to v1.10.120 - 2 files changed
  packages/api/CHANGELOG.md
  packages/api/bin/tidal-api-oas.json
  packages/api/src/allAPI.generated.ts
Owners: @tidal-music/tidal-web-platform

Update Tidal API to v1.10.123 - 2 files changed
  packages/api/CHANGELOG.md
  packages/api/bin/tidal-api-oas.json
  packages/api/src/allAPI.generated.ts
Owners: @tidal-music/tidal-web-platform

Update Tidal API to v1.10.124 - 2 files changed
  packages/api/CHANGELOG.md
  packages/api/bin/tidal-api-oas.json
  packages/api/src/allAPI.generated.ts
Owners: @tidal-music/tidal-web-platform

Update Tidal API to v1.10.126 - 2 files changed
  packages/api/CHANGELOG.md
  packages/api/bin/tidal-api-oas.json
  packages/api/src/allAPI.generated.ts
Owners: @tidal-music/tidal-web-platform

Update Tidal API to v1.10.127 - 2 files changed
  packages/api/CHANGELOG.md
  packages/api/bin/tidal-api-oas.json
  packages/api/src/allAPI.generated.ts
Owners: @tidal-music/tidal-web-platform

Update Tidal API to v1.10.128 - 2 files changed
  packages/api/CHANGELOG.md
  packages/api/bin/tidal-api-oas.json
  packages/api/src/allAPI.generated.ts
Owners: @tidal-music/tidal-web-platform

Fix sequential suites for Vitest 5
  packages/auth/src/auth/auth.test.ts
  packages/auth/src/storage/storage.test.ts
  packages/event-producer/src/monitor/monitor.test.ts
  packages/event-producer/src/queue/queue.test.ts
  packages/event-producer/src/scheduler/scheduler.test.ts
  packages/event-producer/src/send/send.test.ts
  packages/event-producer/src/submit/submit.test.ts
  packages/event-producer/src/uuid/uuid.test.ts
Owners: @MathiasTim, @tidal-music/tidal-web-platform

Fix Cypress 16 environment access
  packages/player/cypress/e2e/play-log/case-1.cy.ts
  packages/player/cypress/e2e/play-log/case-2.cy.ts
  packages/player/cypress/e2e/play-log/case-crossfade.cy.ts
  packages/player/cypress/e2e/play-log/case-gapless.cy.ts
  packages/player/demo/helpers.js
Owners: @enjikaka

Use Cypress 16 cy.env signature
  packages/player/cypress/e2e/play-log/case-1.cy.ts
  packages/player/cypress/e2e/play-log/case-2.cy.ts
  packages/player/cypress/e2e/play-log/case-crossfade.cy.ts
  packages/player/cypress/e2e/play-log/case-gapless.cy.ts
Owners: @enjikaka

Pin pnpm to v11
  package.json
Owners: @tidal-music/tidal-web-platform

.github/CODEOWNERS:

*.sh @tidal-music/tidal-web-platform
*.md @tidal-music/tidal-web-platform
*.json @tidal-music/tidal-web-platform

/packages/ @tidal-music/tidal-web-platform
/packages/auth/ @MathiasTim
/packages/event-producer @tidal-music/tidal-web-platform
/packages/player @enjikaka
