Repository tidal-music/tidal-sdk-web, changes with the owners that .github/CODEOWNERS names for each.
All owners: @tidal-music/tidal-web-platform, @MathiasTim, @enjikaka

Player: update version to 0.11.3 and add changelog entries for NativePlayer and Shaka player updates
  packages/player/CHANGELOG.md
  packages/player/package.json
Owners: @enjikaka

Player: update version to 0.11.3 and add changelog entries for NativePlayer and Shaka player updates (#471)
  packages/player/CHANGELOG.md
  packages/player/package.json
Owners: @enjikaka

Update Tidal API to v1.0.36 - 2 files changed
  packages/api/bin/tidal-api-oas.json
  packages/api/src/allAPI.generated.ts
Owners: @tidal-music/tidal-web-platform

Add function to find bit depth in DASH manifest
  packages/player/src/internal/helpers/manifest-parser.ts
Owners: @enjikaka

Fix optional chaining for ID extraction in dashFindBitDepth function
  packages/player/src/internal/helpers/manifest-parser.ts
Owners: @enjikaka

Clean up code (order and comments)
  packages/player/src/internal/helpers/manifest-parser.ts
Owners: @enjikaka

Add tests for parsing DASH and HLS track manifests with FLAC and AAC codecs
  packages/player/src/internal/helpers/manifest-parser.test.ts
Owners: @enjikaka

Docs improvements
  packages/player/src/internal/helpers/playback-info-resolver.ts
Owners: @enjikaka

Refactor manifest expiration handling to use a constant for improved maintainability
  packages/player/src/internal/helpers/playback-info-resolver.ts
Owners: @enjikaka

Update packages/player/src/internal/helpers/manifest-parser.ts
  packages/player/src/internal/helpers/manifest-parser.ts
Owners: @enjikaka

Update packages/player/src/internal/helpers/manifest-parser.ts
  packages/player/src/internal/helpers/manifest-parser.ts
Owners: @enjikaka

Document function
  packages/player/src/internal/helpers/playback-info-resolver.ts
Owners: @enjikaka

Lint
  packages/player/src/internal/helpers/manifest-parser.ts
Owners: @enjikaka

Update Tidal API to v1.0.37 - 2 files changed
  packages/api/bin/tidal-api-oas.json
  packages/api/src/allAPI.generated.ts
Owners: @tidal-music/tidal-web-platform

Refine audio quality comments
  packages/player/src/internal/helpers/playback-info-resolver.ts
Owners: @enjikaka

Lint
  packages/player/src/internal/helpers/playback-info-resolver.ts
Owners: @enjikaka

feat(player): use new trackManifests API for track playback (#465)
  packages/player/cypress/e2e/play-log/case-1.cy.ts
  packages/player/cypress/e2e/play-log/case-2.cy.ts
  packages/player/demo/test-case-1.js
  packages/player/demo/test-case-2.js
  packages/player/package.json
  packages/player/src/internal/handlers/get-playback-state.test.ts
  packages/player/src/internal/handlers/load.ts
  packages/player/src/internal/handlers/set-next.ts
  packages/player/src/internal/helpers/manifest-parser.test.ts
  packages/player/src/internal/helpers/manifest-parser.ts
  packages/player/src/internal/helpers/playback-info-resolver.test.ts
  packages/player/src/internal/helpers/playback-info-resolver.ts
  packages/player/src/internal/services/connection-handler-no-reload.test.ts
  packages/player/src/internal/services/connection-handler-reload.test.ts
  packages/player/src/player/fairplay-drm.ts
  packages/player/src/player/filters.ts
  packages/player/src/player/index.ts
  packages/player/src/player/shakaPlayer.ts
  pnpm-lock.yaml
Owners: @enjikaka

Update Tidal API to v1.0.40 - 2 files changed
  packages/api/bin/tidal-api-oas.json
  packages/api/src/allAPI.generated.ts
Owners: @tidal-music/tidal-web-platform

refactor(player): deprecate 'HI_RES' audio quality and enhance manifest parser
  packages/player/src/internal/helpers/manifest-parser.ts
  packages/player/src/internal/types.ts
Owners: @enjikaka

refactor(player): deprecate 'HI_RES' audio quality and enhance manifest parser (#477)
  packages/player/src/internal/helpers/manifest-parser.ts
  packages/player/src/internal/types.ts
Owners: @enjikaka

docs: add specification links to README files for auth, event-producer, and player modules
  packages/auth/README.md
  packages/event-producer/README.md
  packages/player/README.md
Owners: @MathiasTim, @tidal-music/tidal-web-platform, @enjikaka

Player: add Adaptive Bit Rate support for new audio streams
  packages/player/src/api/event/playback-quality-changed.ts
  packages/player/src/api/index.ts
  packages/player/src/internal/helpers/manifest-parser.ts
  packages/player/src/internal/helpers/playback-info-resolver.ts
  packages/player/src/internal/helpers/update-playback-quality.ts
  packages/player/src/player/adaptations.ts
  packages/player/src/player/shakaPlayer.ts
Owners: @enjikaka

Make audio adaptive bitrate streaming configurable
  packages/player/src/config.ts
  packages/player/src/internal/handlers/load.ts
  packages/player/src/internal/handlers/set-next.ts
  packages/player/src/internal/helpers/playback-info-resolver.ts
Owners: @enjikaka

Update Tidal API to v1.0.41 - 2 files changed
  packages/api/bin/tidal-api-oas.json
  packages/api/src/allAPI.generated.ts
Owners: @tidal-music/tidal-web-platform

feat(player): add audio adaptive bitrate streaming handlers
  packages/player/src/api/index.ts
  packages/player/src/internal/handlers/get-audio-adaptive-bitrate-streaming.ts
  packages/player/src/internal/handlers/set-audio-adaptive-bitrate-streaming.ts
Owners: @enjikaka

refactor(player): update normalizeVolume function to accept peak amplitude for better volume adjustment
  packages/player/src/internal/helpers/normalize-volume.ts
  packages/player/src/player/basePlayer.ts
Owners: @enjikaka

refactor(player): clarify audio playback quality update logic
  packages/player/src/internal/helpers/update-playback-quality.ts
Owners: @enjikaka

Fix TS in tests
  packages/player/src/internal/helpers/playback-info-resolver.test.ts
Owners: @enjikaka

add unit tests for audio adaptive bitrate streaming handlers and playback quality updates
  packages/player/src/internal/handlers/get-audio-adaptive-bitrate-streaming.test.ts
  packages/player/src/internal/handlers/set-audio-adaptive-bitrate-streaming.test.ts
  packages/player/src/internal/helpers/playback-info-resolver.test.ts
  packages/player/src/internal/helpers/update-playback-quality.test.ts
  packages/player/src/internal/helpers/update-playback-quality.ts
Owners: @enjikaka

Update Tidal API to v1.0.47 - 2 files changed
  packages/api/bin/tidal-api-oas.json
  packages/api/src/allAPI.generated.ts
Owners: @tidal-music/tidal-web-platform

fix(player): refine playback quality update condition
  packages/player/src/internal/helpers/update-playback-quality.ts
Owners: @enjikaka

Fix feedback from Copilot code review
  packages/player/src/api/event/media-product-transition.test.ts
  packages/player/src/api/interfaces.ts
  packages/player/src/internal/helpers/compose-playback-context.ts
  packages/player/src/internal/helpers/update-playback-quality.test.ts
  packages/player/src/internal/helpers/update-playback-quality.ts
  packages/player/src/player/adaptations.test.ts
Owners: @enjikaka

Apply suggestions from code review
  packages/player/src/internal/helpers/update-playback-quality.ts
Owners: @enjikaka

add unit test for playbackQualityChanged event
  packages/player/src/api/event/playback-quality-changed.test.ts
Owners: @enjikaka

Update Tidal API to v1.0.48 - 2 files changed
  packages/api/bin/tidal-api-oas.json
  packages/api/src/allAPI.generated.ts
Owners: @tidal-music/tidal-web-platform

docs(player): clarify adaptive bitrate streaming behavior
  packages/player/src/internal/handlers/set-audio-adaptive-bitrate-streaming.ts
Owners: @enjikaka

Player ABR streaming for audio (#480)
  packages/player/src/api/event/media-product-transition.test.ts
  packages/player/src/api/event/playback-quality-changed.test.ts
  packages/player/src/api/event/playback-quality-changed.ts
  packages/player/src/api/index.ts
  packages/player/src/api/interfaces.ts
  packages/player/src/config.ts
  packages/player/src/internal/handlers/get-audio-adaptive-bitrate-streaming.test.ts
  packages/player/src/internal/handlers/get-audio-adaptive-bitrate-streaming.ts
  packages/player/src/internal/handlers/load.ts
  packages/player/src/internal/handlers/set-audio-adaptive-bitrate-streaming.test.ts
  packages/player/src/internal/handlers/set-audio-adaptive-bitrate-streaming.ts
  packages/player/src/internal/handlers/set-next.ts
  packages/player/src/internal/helpers/compose-playback-context.ts
  packages/player/src/internal/helpers/manifest-parser.ts
  packages/player/src/internal/helpers/playback-info-resolver.test.ts
  packages/player/src/internal/helpers/playback-info-resolver.ts
  packages/player/src/internal/helpers/update-playback-quality.test.ts
  packages/player/src/internal/helpers/update-playback-quality.ts
  packages/player/src/player/adaptations.test.ts
  packages/player/src/player/adaptations.ts
  packages/player/src/player/shakaPlayer.ts
Owners: @enjikaka

Remove shaka-player patch and update package.json and pnpm-lock.yaml accordingly, as it is no longer needed!
  package.json
  patches/shaka-player.patch
  pnpm-lock.yaml
Owners: @tidal-music/tidal-web-platform

Update tsconfig.build.json to include type definitions from ../../types for improved type checking.
  packages/common/tsconfig.build.json
Owners: @tidal-music/tidal-web-platform

Enhance TypeScript definitions: Move V8-specific Error.captureStackTrace interface from global.d.ts to captureStackTrace.ts, ensuring better organization and clarity in type definitions.
  packages/common/src/captureStackTrace.ts
  packages/common/src/global.d.ts
Owners: @tidal-music/tidal-web-platform

.github/CODEOWNERS:

*.sh @tidal-music/tidal-web-platform
*.md @tidal-music/tidal-web-platform
*.json @tidal-music/tidal-web-platform

/packages/ @tidal-music/tidal-web-platform
/packages/auth/ @MathiasTim
/packages/event-producer @tidal-music/tidal-web-platform
/packages/player @enjikaka
