Repository tidal-music/tidal-sdk-web, changes with the owners that .github/CODEOWNERS names for each.
All owners: @tidal-music/tidal-web-platform, @MathiasTim, @enjikaka

.github/CODEOWNERS:

*.sh @tidal-music/tidal-web-platform
*.md @tidal-music/tidal-web-platform
*.json @tidal-music/tidal-web-platform

/packages/ @tidal-music/tidal-web-platform
/packages/auth/ @MathiasTim
/packages/event-producer @tidal-music/tidal-web-platform
/packages/player @enjikaka

Update API reference URL in README.md
  packages/api/README.md
Owners: @tidal-music/tidal-web-platform

Update API reference URL in README.md (#327)
  packages/api/README.md
Owners: @tidal-music/tidal-web-platform

Add TidalAPI spec check workflow
  .github/actions/check-api-pr/action.yml
  .github/workflows/check-tidalapi-spec.yml
  .github/workflows/generate-tidal-api.yml
Owners: none

Use project's generateTypes script in workflows instead of direct npx calls
  .github/workflows/check-tidalapi-spec.yml
  .github/workflows/generate-tidal-api.yml
Owners: none

Add push trigger for testing
  .github/workflows/check-tidalapi-spec.yml
Owners: none

Use pnpm instead of npm in CI workflows
  .github/workflows/check-tidalapi-spec.yml
  .github/workflows/generate-tidal-api.yml
Owners: none

Update pnpm version to 10 to meet project requirements
  .github/workflows/check-tidalapi-spec.yml
  .github/workflows/generate-tidal-api.yml
Owners: none

Update Tidal API - 1 files changed
  packages/api/src/allAPI.generated.ts
Owners: @tidal-music/tidal-web-platform

Adopt Android SDK approach for API spec checking
  .github/workflows/check-tidalapi-spec.yml
  .github/workflows/generate-tidal-api.yml
  packages/api/bin/tidal-api-oas.json
Owners: @tidal-music/tidal-web-platform

Add push trigger once more
  .github/workflows/generate-tidal-api.yml
Owners: none

Fix push logic to handle existing remote branches
  .github/workflows/generate-tidal-api.yml
Owners: none

Update Tidal API - 1 files changed
  packages/api/src/allAPI.generated.ts
Owners: @tidal-music/tidal-web-platform

Add TidalAPI spec check workflow
  .github/actions/check-api-pr/action.yml
  .github/workflows/check-tidalapi-spec.yml
  .github/workflows/generate-tidal-api.yml
  packages/api/bin/tidal-api-oas.json
Owners: @tidal-music/tidal-web-platform

Add TidalAPI spec check workflow (#332)
  .github/actions/check-api-pr/action.yml
  .github/workflows/check-tidalapi-spec.yml
  .github/workflows/generate-tidal-api.yml
  packages/api/bin/tidal-api-oas.json
Owners: @tidal-music/tidal-web-platform

Stop endless upgrade loop when client secret changed
  packages/auth/src/auth/auth.test.ts
  packages/auth/src/auth/auth.ts
Owners: @MathiasTim

Fix API spec update check workflow
  .github/workflows/check-tidalapi-spec.yml
  .github/workflows/generate-tidal-api.yml
Owners: none

Stop endless upgrade loop when client secret changed (#334)
  packages/auth/src/auth/auth.test.ts
  packages/auth/src/auth/auth.ts
Owners: @MathiasTim

Refactor storage module to use BufferSource for cryptographic operations
  packages/auth/src/storage/storage.ts
  packages/auth/src/storage/storageUtils.ts
Owners: @MathiasTim

Update shaka-player patch and dependencies in pnpm-lock.yaml
  patches/shaka-player.patch
  pnpm-lock.yaml
Owners: none

Fix API spec update check workflow (#335)
  .github/workflows/check-tidalapi-spec.yml
  .github/workflows/generate-tidal-api.yml
Owners: none

Remove version specification for pnpm/action-setup in the Tidal API workflow
  .github/workflows/generate-tidal-api.yml
Owners: none

Remove version specification for pnpm/action-setup in the Tidal API workflow (#339)
  .github/workflows/generate-tidal-api.yml
Owners: none

Improved type safety of `credentialsUpdated` message
  packages/common/src/credentialsProvider.ts
Owners: @tidal-music/tidal-web-platform

Add event listeners for playback state changes and media product transitions in player-web-components demo
  packages/player-web-components/demo/app.js
Owners: @tidal-music/tidal-web-platform

Remove `preventDefault` from click handler in TidalPlayTrigger, as it fails for passive event listeners
  packages/player-web-components/src/tidal-play-trigger.ts
Owners: @tidal-music/tidal-web-platform

Update Tidal API - 2 files changed
  packages/api/bin/tidal-api-oas.json
  packages/api/src/allAPI.generated.ts
Owners: @tidal-music/tidal-web-platform

EventProducer: Remove unused `Action` header from monitoring and submit event functions
  packages/event-producer/src/monitor/index.ts
  packages/event-producer/src/submit/submit.ts
Owners: @tidal-music/tidal-web-platform

Lint fixes
  packages/player-web-components/demo/app.js
Owners: @tidal-music/tidal-web-platform

Various fixes (#341)
  packages/common/src/credentialsProvider.ts
  packages/event-producer/src/monitor/index.ts
  packages/event-producer/src/submit/submit.ts
  packages/player-web-components/demo/app.js
  packages/player-web-components/src/tidal-play-trigger.ts
Owners: @tidal-music/tidal-web-platform

Update README to improved `pnpm update` command syntax
  README.md
Owners: @tidal-music/tidal-web-platform

Common: Bump version to 0.2.0 and update changelog for improved type safety
  packages/common/CHANGELOG.md
  packages/common/package.json
Owners: @tidal-music/tidal-web-platform

Common: Bump version to 0.2.0 and update changelog for improved type safety (#342)
  packages/common/CHANGELOG.md
  packages/common/package.json
Owners: @tidal-music/tidal-web-platform

Update changelog and bump version to 2.4.0 for event producer
  packages/event-producer/CHANGELOG.md
  packages/event-producer/package.json
Owners: @tidal-music/tidal-web-platform

Update changelog and bump version to 2.4.0 for event producer (#343)
  packages/event-producer/CHANGELOG.md
  packages/event-producer/package.json
Owners: @tidal-music/tidal-web-platform

Auth: Update changelog for version 1.4.0 and fix version in package.json
  packages/auth/CHANGELOG.md
  packages/auth/package.json
Owners: @MathiasTim

Auth: Update changelog for version 1.4.0 and fix version in package.json (#344)
  packages/auth/CHANGELOG.md
  packages/auth/package.json
Owners: @MathiasTim

API: Bump version to 0.5.0 and update changelog for new API definitions
  packages/api/CHANGELOG.md
  packages/api/package.json
Owners: @tidal-music/tidal-web-platform

API: Bump version to 0.5.0 and update changelog for new API definitions (#345)
  packages/api/CHANGELOG.md
  packages/api/package.json
Owners: @tidal-music/tidal-web-platform

Player: Bump version to 0.10.0 and update changelog for latest Shaka Player
  packages/player/CHANGELOG.md
  packages/player/package.json
Owners: @enjikaka

Player: Bump version to 0.10.0 and update changelog for latest Shaka Player (#346)
  packages/player/CHANGELOG.md
  packages/player/package.json
Owners: @enjikaka
