Repository tidal-music/tidal-sdk-web, changes with the owners that .github/CODEOWNERS names for each.
All owners: @tidal-music/tidal-web-platform, @MathiasTim, @enjikaka

Fix exports order
  packages/api/package.json
  packages/auth/package.json
  packages/event-producer/package.json
  packages/player-web-components/package.json
  packages/player/package.json
  packages/template/package.json
Owners: @tidal-music/tidal-web-platform, @MathiasTim, @enjikaka

Fix exports order (#244)
  packages/api/package.json
  packages/auth/package.json
  packages/event-producer/package.json
  packages/player-web-components/package.json
  packages/player/package.json
  packages/template/package.json
Owners: @tidal-music/tidal-web-platform, @MathiasTim, @enjikaka

Simplify worker URL import in event producer queue
  packages/event-producer/src/queue/queue.ts
Owners: @tidal-music/tidal-web-platform

Simplify worker URL import in event producer queue (#255)
  packages/event-producer/src/queue/queue.ts
Owners: @tidal-music/tidal-web-platform

EP: Bump version to 2.3.1 and update changelog for compatibility fixes
  packages/event-producer/CHANGELOG.md
  packages/event-producer/package.json
Owners: @tidal-music/tidal-web-platform

EP: Bump version to 2.3.1 and update changelog for compatibility fixes (#256)
  packages/event-producer/CHANGELOG.md
  packages/event-producer/package.json
Owners: @tidal-music/tidal-web-platform

Allow Cypress to build
  package.json
Owners: @tidal-music/tidal-web-platform

Try other way of building web Worker for EP
  packages/event-producer/src/queue/queue.ts
Owners: @tidal-music/tidal-web-platform

Try other way of building web Worker for EP (#263)
  packages/event-producer/src/queue/queue.ts
Owners: @tidal-music/tidal-web-platform

EP release
  packages/event-producer/CHANGELOG.md
  packages/event-producer/package.json
Owners: @tidal-music/tidal-web-platform

EP release (#264)
  packages/event-producer/CHANGELOG.md
  packages/event-producer/package.json
Owners: @tidal-music/tidal-web-platform

Refactor fake timers configuration to align with Vitest 2 behavior
  packages/true-time/src/index.test.ts
Owners: @tidal-music/tidal-web-platform

Bump player package version to 0.5.5 and update changelog
  README.md
  packages/player/CHANGELOG.md
  packages/player/package.json
Owners: @tidal-music/tidal-web-platform, @enjikaka

Feature added, should be minor not patch :-)
  packages/player/CHANGELOG.md
  packages/player/package.json
Owners: @enjikaka

Bump player package version to 0.6.0 and update changelog (#269)
  README.md
  packages/player/CHANGELOG.md
  packages/player/package.json
Owners: @tidal-music/tidal-web-platform, @enjikaka

Bump Auth version to 1.3.4 and update changelog with new docs link
  packages/auth/CHANGELOG.md
  packages/auth/package.json
Owners: @MathiasTim

Bump Auth version to 1.3.4 and update changelog with new docs link (#271)
  packages/auth/CHANGELOG.md
  packages/auth/package.json
Owners: @MathiasTim

Switch to one API definition (to rule them all)
  packages/api/CHANGELOG.md
  packages/api/package.json
  packages/api/redocly.yaml
  packages/api/src/allAPI.generated.ts
  packages/api/src/api.ts
  packages/api/src/catalogueAPI.generated.ts
  packages/api/src/index.ts
  packages/api/src/playlistAPI.generated.ts
  packages/api/src/searchAPI.generated.ts
  packages/api/src/userAPI.generated.ts
Owners: @tidal-music/tidal-web-platform

Switch to one API definition (to rule them all) (#272)
  packages/api/CHANGELOG.md
  packages/api/package.json
  packages/api/redocly.yaml
  packages/api/src/allAPI.generated.ts
  packages/api/src/api.ts
  packages/api/src/catalogueAPI.generated.ts
  packages/api/src/index.ts
  packages/api/src/playlistAPI.generated.ts
  packages/api/src/searchAPI.generated.ts
  packages/api/src/userAPI.generated.ts
Owners: @tidal-music/tidal-web-platform

Update README.md
  packages/api/README.md
Owners: @tidal-music/tidal-web-platform

Update package.json
  packages/api/package.json
Owners: @tidal-music/tidal-web-platform

Update CHANGELOG.md
  packages/api/CHANGELOG.md
Owners: @tidal-music/tidal-web-platform

Update README.md (#274)
  packages/api/CHANGELOG.md
  packages/api/README.md
  packages/api/package.json
Owners: @tidal-music/tidal-web-platform

Switch to safe version of `tj-actions/changed-files`
  .github/workflows/check-changelog-files.yml
  .github/workflows/trigger-releases.yml
Owners: none

Switch to safe version of `tj-actions/changed-files` (#276)
  .github/workflows/check-changelog-files.yml
  .github/workflows/trigger-releases.yml
Owners: none

Add examples for API usage with user authentication
  packages/api/examples/api-with-user.html
  packages/api/examples/api-with-user.js
  packages/api/examples/api.html
  packages/api/examples/api.js
  packages/api/index.html
Owners: @tidal-music/tidal-web-platform

Lint fix
  packages/api/examples/api-with-user.js
Owners: @tidal-music/tidal-web-platform

Set JsonAPI Content-Type header for POST, PATCH, and DELETE requests
  packages/api/examples/api-with-user.js
  packages/api/src/api.ts
Owners: @tidal-music/tidal-web-platform

Add examples for API usage with user authentication (#277)
  packages/api/examples/api-with-user.html
  packages/api/examples/api-with-user.js
  packages/api/examples/api.html
  packages/api/examples/api.js
  packages/api/index.html
Owners: @tidal-music/tidal-web-platform

Set JsonAPI Content-Type header for POST, PATCH, and DELETE requests (#278)
  packages/api/examples/api-with-user.js
  packages/api/src/api.ts
Owners: @tidal-music/tidal-web-platform

Update FOSSA action to a specific commit for consistency/security
  .github/workflows/fossa-scan.yml
Owners: none

Fix lint issues
  packages/player/src/internal/event-tracking/play-log/index.ts
  packages/player/src/internal/event-tracking/streaming-metrics/index.ts
  packages/player/src/internal/output-devices.test.ts
  packages/player/src/player/shakaPlayer.ts
  packages/player/src/test-helpers.ts
Owners: @enjikaka

Fix copy pasta in docs
  packages/player/src/internal/handlers/set-event-sender.ts
Owners: @enjikaka

Revert changes in Common (as they were not in use anymore)
  packages/common/package.json
  packages/common/src/eventSender.ts
  packages/common/src/index.ts
  packages/common/vite.config.ts
Owners: @tidal-music/tidal-web-platform

Update dependencies in pnpm-lock.yaml to latest versions
  pnpm-lock.yaml
Owners: none

Add play_log_open
  packages/player/src/config.ts
  packages/player/src/internal/beacon/index.ts
  packages/player/src/internal/beacon/play-log.ts
  packages/player/src/internal/beacon/types.ts
  packages/player/src/internal/beacon/worker.ts
  packages/player/src/internal/constants.ts
  packages/player/src/internal/event-tracking/play-log/index.ts
  packages/player/src/internal/handlers/set-next.ts
  packages/player/src/internal/helpers/get-is-post-paywall.ts
  packages/player/src/internal/helpers/run-conditional-on-auth.ts
  packages/player/src/internal/helpers/run-if-authorized-with-user.ts
  packages/player/src/internal/index.ts
  packages/player/src/player/basePlayer.ts
Owners: @enjikaka

Clean up destructing
  packages/player/src/internal/beacon/index.ts
Owners: @enjikaka

Clean up message types
  packages/player/src/internal/beacon/index.ts
Owners: @enjikaka

Fix Bearer token header handling to avoid setting invalid tokens
  packages/player/CHANGELOG.md
  packages/player/src/player/shakaPlayer.ts
Owners: @enjikaka

Fix Bearer token header handling to avoid setting invalid tokens (#289)
  packages/player/CHANGELOG.md
  packages/player/src/player/shakaPlayer.ts
Owners: @enjikaka

.github/CODEOWNERS:

*.sh @tidal-music/tidal-web-platform
*.md @tidal-music/tidal-web-platform
*.json @tidal-music/tidal-web-platform

/packages/ @tidal-music/tidal-web-platform
/packages/auth/ @MathiasTim
/packages/event-producer @tidal-music/tidal-web-platform
/packages/player @enjikaka
