Repository tidal-music/tidal-sdk-web, changes with the owners that .github/CODEOWNERS names for each.
All owners: @tidal-music/tidal-web-platform, @MathiasTim, @enjikaka

Update Tidal API to v1.4.8 - 2 files changed
  packages/api/CHANGELOG.md
  packages/api/bin/tidal-api-oas.json
  packages/api/package.json
  packages/api/src/allAPI.generated.ts
Owners: @tidal-music/tidal-web-platform

feat(auth): add StorageAdapter for Node.js compatibility
  packages/auth/CHANGELOG.md
  packages/auth/package.json
  packages/auth/src/auth/auth.test.ts
  packages/auth/src/auth/auth.ts
  packages/auth/src/storage/storage.test.ts
  packages/auth/src/storage/storage.ts
  packages/auth/src/types.ts
Owners: @MathiasTim

lint
  packages/auth/src/types.ts
Owners: @MathiasTim

fix(auth): reorder credentialsStorageKey in storage test to comply with sorting rules
  packages/auth/src/storage/storage.test.ts
Owners: @MathiasTim

feat(auth): add StorageAdapter for Node.js compatibility (#576)
  packages/auth/CHANGELOG.md
  packages/auth/package.json
  packages/auth/src/auth/auth.test.ts
  packages/auth/src/auth/auth.ts
  packages/auth/src/storage/storage.test.ts
  packages/auth/src/storage/storage.ts
  packages/auth/src/types.ts
Owners: @MathiasTim

Update Tidal API to v1.4.11 - 2 files changed
  packages/api/CHANGELOG.md
  packages/api/bin/tidal-api-oas.json
  packages/api/package.json
  packages/api/src/allAPI.generated.ts
Owners: @tidal-music/tidal-web-platform

feat(auth): add CryptoAdapter for environments without globalThis.crypto
  packages/auth/CHANGELOG.md
  packages/auth/package.json
  packages/auth/src/auth/auth.test.ts
  packages/auth/src/auth/auth.ts
  packages/auth/src/types.ts
  packages/auth/src/utils/utils.test.ts
  packages/auth/src/utils/utils.ts
Owners: @MathiasTim

feat(auth): add CryptoAdapter for environments without globalThis.crypto (#579)
  packages/auth/CHANGELOG.md
  packages/auth/package.json
  packages/auth/src/auth/auth.test.ts
  packages/auth/src/auth/auth.ts
  packages/auth/src/types.ts
  packages/auth/src/utils/utils.test.ts
  packages/auth/src/utils/utils.ts
Owners: @MathiasTim

Update Tidal API to v1.4.12 - 2 files changed
  packages/api/CHANGELOG.md
  packages/api/bin/tidal-api-oas.json
  packages/api/package.json
  packages/api/src/allAPI.generated.ts
Owners: @tidal-music/tidal-web-platform

Update Tidal API to v1.4.13 - 2 files changed
  packages/api/CHANGELOG.md
  packages/api/bin/tidal-api-oas.json
  packages/api/package.json
  packages/api/src/allAPI.generated.ts
Owners: @tidal-music/tidal-web-platform

Update Tidal API to v1.4.14 - 2 files changed
  packages/api/CHANGELOG.md
  packages/api/bin/tidal-api-oas.json
  packages/api/src/allAPI.generated.ts
Owners: @tidal-music/tidal-web-platform

feat: added flag to not send tl events
  packages/event-producer/src/config.ts
  packages/event-producer/src/submit/submit.test.ts
  packages/event-producer/src/submit/submit.ts
Owners: @tidal-music/tidal-web-platform

Update Tidal API to v1.4.15 - 2 files changed
  packages/api/CHANGELOG.md
  packages/api/bin/tidal-api-oas.json
  packages/api/package.json
  packages/api/src/allAPI.generated.ts
Owners: @tidal-music/tidal-web-platform

fix(api): preserve reserved characters in query parameters
  packages/api/CHANGELOG.md
  packages/api/package.json
  packages/api/src/api.test.ts
  packages/api/src/api.ts
Owners: @tidal-music/tidal-web-platform

fix(api): preserve reserved characters in query parameters (#598)
  packages/api/CHANGELOG.md
  packages/api/package.json
  packages/api/src/api.test.ts
  packages/api/src/api.ts
Owners: @tidal-music/tidal-web-platform

Update Tidal API to v1.4.17 - 2 files changed
  packages/api/CHANGELOG.md
  packages/api/bin/tidal-api-oas.json
  packages/api/package.json
  packages/api/src/allAPI.generated.ts
Owners: @tidal-music/tidal-web-platform

feat(player): use videoManifests API for video playback
  packages/player/CHANGELOG.md
  packages/player/package.json
  packages/player/src/internal/helpers/playback-info-resolver.test.ts
  packages/player/src/internal/helpers/playback-info-resolver.ts
Owners: @enjikaka

feat(player): use videoManifests API for video playback (#600)
  packages/player/CHANGELOG.md
  packages/player/package.json
  packages/player/src/internal/helpers/playback-info-resolver.test.ts
  packages/player/src/internal/helpers/playback-info-resolver.ts
Owners: @enjikaka

Update Tidal API to v1.5.0 - 2 files changed
  packages/api/CHANGELOG.md
  packages/api/bin/tidal-api-oas.json
  packages/api/package.json
  packages/api/src/allAPI.generated.ts
Owners: @tidal-music/tidal-web-platform

Update Tidal API to v1.5.1 - 2 files changed
  packages/api/CHANGELOG.md
  packages/api/bin/tidal-api-oas.json
  packages/api/src/allAPI.generated.ts
Owners: @tidal-music/tidal-web-platform

Update Tidal API to v1.5.2 - 2 files changed
  packages/api/CHANGELOG.md
  packages/api/bin/tidal-api-oas.json
  packages/api/src/allAPI.generated.ts
Owners: @tidal-music/tidal-web-platform

Update Tidal API to v1.6.0 - 2 files changed
  packages/api/CHANGELOG.md
  packages/api/bin/tidal-api-oas.json
  packages/api/src/allAPI.generated.ts
Owners: @tidal-music/tidal-web-platform

Update Tidal API to v1.6.1 - 2 files changed
  packages/api/CHANGELOG.md
  packages/api/bin/tidal-api-oas.json
  packages/api/src/allAPI.generated.ts
Owners: @tidal-music/tidal-web-platform

Support share code for track manifests
  packages/player/src/api/interfaces.ts
  packages/player/src/internal/helpers/playback-info-resolver.test.ts
  packages/player/src/internal/helpers/playback-info-resolver.ts
Owners: @enjikaka

Revert lint override removal
  packages/player/src/internal/helpers/playback-info-resolver.test.ts
Owners: @enjikaka

Update track ids
  packages/player/src/internal/helpers/playback-info-resolver.test.ts
Owners: @enjikaka

Support share code for track manifests (#610)
  packages/player/src/api/interfaces.ts
  packages/player/src/internal/helpers/playback-info-resolver.test.ts
  packages/player/src/internal/helpers/playback-info-resolver.ts
Owners: @enjikaka

chore(player): release 0.17.0
  packages/player/CHANGELOG.md
  packages/player/package.json
Owners: @enjikaka

chore(player): mention Shaka 5.1.1 update in 0.17.0 release notes
  packages/player/CHANGELOG.md
Owners: @enjikaka

chore(player): release 0.17.0 (#611)
  packages/player/CHANGELOG.md
  packages/player/package.json
Owners: @enjikaka

Update Tidal API to v1.7.0 - 2 files changed
  packages/api/CHANGELOG.md
  packages/api/bin/tidal-api-oas.json
  packages/api/package.json
  packages/api/src/allAPI.generated.ts
Owners: @tidal-music/tidal-web-platform

fix(ts): adapt TypeScript 6 build and typings across packages
  packages/api/package.json
  packages/api/tsconfig.json
  packages/api/vite.config.ts
  packages/auth/package.json
  packages/auth/src/errors/authenticationError.ts
  packages/auth/src/errors/tokenResponseError.ts
  packages/auth/src/errors/unexpectedError.ts
  packages/auth/src/utils/utils.ts
  packages/auth/tsconfig.json
  packages/auth/vite.config.ts
  packages/common/package.json
  packages/common/src/illegalArgumentError.ts
  packages/common/src/networkError.ts
  packages/common/src/retryableError.ts
  packages/common/src/tidalError.ts
  packages/common/tsconfig.json
  packages/event-producer/package.json
  packages/event-producer/src/outage/index.ts
  packages/event-producer/src/scheduler/scheduler.ts
  packages/event-producer/tsconfig.json
  packages/event-producer/vite.config.ts
  packages/player-web-components/package.json
  packages/player-web-components/tsconfig.json
  packages/player-web-components/vite.config.ts
  packages/player/package.json
  packages/player/tsconfig.json
  packages/player/vite.config.ts
  packages/template/package.json
  packages/template/tsconfig.json
  packages/true-time/package.json
  packages/true-time/tsconfig.json
  packages/true-time/vite.config.ts
Owners: @tidal-music/tidal-web-platform, @MathiasTim, @enjikaka

fix(common): satisfy perfectionist/sort-classes for TidalError fields
  packages/common/src/tidalError.ts
Owners: @tidal-music/tidal-web-platform

fix(player): bump Cypress tsconfig target for TypeScript 6
  packages/player/cypress/tsconfig.json
Owners: @enjikaka

fix(player): address review comments on gapless/crossfade transitions
  packages/player/src/internal/handlers/set-transition-mode.ts
  packages/player/src/player/shakaPlayer.ts
Owners: @enjikaka

fix(player): finalize pending session on inactive player before preload
  packages/player/src/player/shakaPlayer.ts
Owners: @enjikaka

refactor(player): remove gap transition mode
  packages/player/cypress/e2e/play-log/case-gap.cy.ts
  packages/player/demo/test-case-gapless.html
  packages/player/demo/test-case-gapless.js
  packages/player/src/config.ts
  packages/player/src/internal/handlers/get-transition-mode.ts
  packages/player/src/internal/handlers/set-transition-mode.ts
  packages/player/src/player/shakaPlayer.ts
Owners: @enjikaka

chore(player): update changelog for crossfade and gapless playback implementation
  packages/player/CHANGELOG.md
Owners: @enjikaka

feat(player): serve dev at https://dev.tidal.com:5173
  .github/workflows/cypress.yml
  packages/player/README.md
  packages/player/cypress.config.js
  packages/player/cypress/e2e/play-log/case-1.cy.ts
  packages/player/cypress/e2e/play-log/case-2.cy.ts
  packages/player/cypress/e2e/play-log/case-gapless.cy.ts
  packages/player/cypress/helpers.ts
  packages/player/demo/helpers.js
  packages/player/package.json
  packages/player/src/internal/handlers/load.ts
  packages/player/src/player/basePlayer.ts
  packages/player/vite.config.ts
  pnpm-lock.yaml
Owners: @enjikaka

fix(player): unblock cypress wait-on with HTTPS dev URL
  .github/workflows/cypress.yml
Owners: none

.github/CODEOWNERS:

*.sh @tidal-music/tidal-web-platform
*.md @tidal-music/tidal-web-platform
*.json @tidal-music/tidal-web-platform

/packages/ @tidal-music/tidal-web-platform
/packages/auth/ @MathiasTim
/packages/event-producer @tidal-music/tidal-web-platform
/packages/player @enjikaka
